/* .menu {
    background: white;
    border-radius: 8px;
    box-shadow: 4px -6px 12px rgba(0, 0, 0, 0.18);
    border: 1px solid #EEEEEE;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;

}

.menu-item {
    display: flex;
    align-items: center;
    padding: 1.5px 12px;
    border-radius: 16px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


.menu-item-selected {
    background-color: #EAFFFB;
    border: 1px solid #e3e3e3;
    position: relative;
}

.menu-item-selected:not(:first-child):after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background: #BC955C;
    border-radius: 4px;
    height: 4px;
    width: 100%;
    transform: translateY(-125%) scaleX(1.04);
    z-index: 10;
}

.menu-item-selected.menu-item-selected {
    box-shadow: 1px -1px 9px rgb(0 0 0 / 18%);
}

.menu-item-image {
    width: 50px;
    height: 50px;
}

.menu-item-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    padding: 0 6px;
}

.arrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25%,-50%) scale(.5);
    z-index: 1;
} */


.Subtract {
    height: 60px;
    flex-grow: 0;
    padding: 0 0 0 0.6px;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #eee;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 4px -6px 12px 0 rgba(0, 0, 0, 0.18);
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    width: 107%;
  }

  .bsca-pct{
    width: 200px;
    background-color: #eafffb;
    margin-right: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .bsca-pct > img{
    padding-left: 3px;
  }
  .bsca-pct > span{
    margin-left: 6px;
    margin-right: 14px;
    width: 112px;
    height: 15px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0e7b77;
  }

  .blq-2{
    /* margin-right: 10px; */
    width: 171px;
    display: flex;
    padding: 0 10px;
    height: 60px;
    align-items: center;
    position: relative;
  }
  .blq-2 img:nth-child(1){
    display: none;
  }
  .blq-2 > img.marg-sup{
    height: 5px;
    width: 171px;
    position: absolute;
    top: -5px;
    left: 0;
    object-fit: cover;
    object-position: top;
    display: none;
  }
  .blq-2:hover{
    color: #0e7b77;
    background: url('../../assets/images/Subtract-sm.svg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .blq-2:hover img:nth-child(2){
    display: none;
  }
  .blq-2:hover img:nth-child(1){
    display: block;

  }
  .blq-2:hover img:nth-child(3){
    display: block;
  }
  .blq-3{
    /* margin-right: 8px; */
    width: 197px;
    display: flex;
    padding: 0 10px;
    height: 60px;
    align-items: center;
    position: relative;
  }
  .blq-3 img:nth-child(1){
    display: none;
  }
  .blq-3 > img.marg-sup{
    height: 5px;
    width: 197px;
    position: absolute;
    top: -5px;
    left: 0;
    object-fit: cover;
    object-position: top;
    display: none;
  }
  .blq-3:hover{
    color: #0e7b77;
    background: url('../../assets/images/Subtract.svg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .blq-3:hover img:nth-child(2){
    display: none;
  }
  .blq-3:hover img:nth-child(1){
    display: block;
    width: 25px;
    height: 36px;
    object-fit: none;
  }
  .blq-3:hover img:nth-child(3){
    display: block;
  }
  .blq-4{
    /* margin-right: 9px; */
    width: 197px;
    display: flex;
    padding: 0 10px;
    height: 60px;
    align-items: center;
    position: relative;
  }
  .blq-4 img:nth-child(1){
    display: none;
  }
  .blq-4 > img.marg-sup{
    height: 5px;
      width: 197px;
      position: absolute;
      top: -5px;
      left:0;
      object-fit: cover;
      object-position: top;
      display: none;
  }
  .blq-4:hover{
    color: #0e7b77;
    background: url('../../assets/images/Subtract.svg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .blq-4:hover img:nth-child(2){
    display: none;
  }
  .blq-4:hover img:nth-child(1){
    display: block;
  }
  .blq-4:hover img:nth-child(3){
    display: block;
  }
  .blq-5{
    /* margin-right: 11px; */
    width: 237px;
    display: flex;
    padding: 0 10px;
    height: 60px;
    align-items: center;
    position: relative;
  }
  .blq-5 img:nth-child(1){
    display: none;
  }
  .blq-5 > img.marg-sup{
    height: 5px;
    width: 237px;
    position: absolute;
    top: -5px;
    left: 0;
    object-fit: cover;
    object-position: top;
    display: none;
  }
  .blq-5:hover{
    color: #0e7b77;
    background: url('../../assets/images/Subtract-lg.svg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .blq-5:hover img:nth-child(2){
    display: none;
  }
  .blq-5:hover img:nth-child(1),
  .blq-5:hover img:nth-child(3){
    display: block;
  }

  .blq-2 > img,
  .blq-3 > img,
  .blq-4 > img,
  .blq-5 > img{
    margin-right: 10px;
  }


  .blq {
      cursor: pointer;
  }
