<div class="menu">
    <div class="menu-item menu-item-selected">
        <img class="menu-item-image" src=".\assets\hu002-busqueda/buscarnss.png">
        <span class="menu-item-text">Volante de Donación de sangre</span>
        <img src=".\assets\hu002-busqueda/right-arrow.png" class="arrow">
    </div>
    <div class="menu-item"></div>
    <div class="menu-item menu-item-selected">
        <img class="menu-item-image" src="./assets/hu002-busqueda/carpeta.png">
        <span class="menu-item-text">Crónica grupal</span>
    </div>
    <div class="menu-item">
        <img class="menu-item-image" src="./assets/hu002-busqueda/bolsa de sangre.png">
        <span class="menu-item-text">Volante de Donación de sangre</span>
    </div>
    <div class="menu-item">
        <img class="menu-item-image" src="./assets/hu002-busqueda/salud.png">
        <span class="menu-item-text">Aviso al ministerio público</span>
    </div>
    <div class="menu-item">
        <img class="menu-item-image" src="./assets/hu002-busqueda/portafoleo.png">
        <span class="menu-item-text">Consulta de Informe de Servicios Profesionales</span>
    </div>
</div>
