.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    width: 100%;
    /*  height: 614px; */
}

.card__header {
    padding: 12px 24px;
    border-bottom: 1px solid #eeeeee;
}

.card__subHeader {}

.card__content {
    padding: 6px 24px;
}

.card__footer {
    padding: 12px 24px;
}
