<app-tarjeta-presentacion></app-tarjeta-presentacion>
<app-card-template>
  <div header class="flex justify-content-between align-items-center consultaNotasTrabajoSocial row">
    <div class="col-md-6 ">
    <label style="font-size: 24px; font-weight: 411;" class="consultaNotaTrabajoSocial">
      Consulta de nota de trabajo social
    </label>
  </div>
    <div class="col-md-6 ">
      <div style=" clear:bloth; white-space: nowrap;">
        <span class="tituloDosSpam" style="white-space: nowrap;display:block; text-align: left;">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{today | date: "EEEE" }} {{ day }} de {{ month }} de {{ year }} {{ this.cronica?.timHora}} </span>
      </div>
    </div>
  </div>
  <div content>
    <div>
      <span class="instrucciones">
      </span>
    </div>
    <!-- <form novalidate class="formInfo"> -->
      <div class="container seccion">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class=" tituloServicio">Tipo de nota:</label>
              <label class="control-label">
                Cierre
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="tituloServicio">Red de apollo con la que cuenta el paciente:</label>
              <label class="control-label">
                Cuidador social
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="tituloServicio">Actividad técnica:</label>
              <label class="control-label">
                Set ut perspiciatis unde omnis
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="tituloServicio">Diagnóstico médico:</label>
              <label class="control-label">
                Bolutismo
              </label>
            </div>
          </div>
        </div>
        <div class="separador"></div>
      </div>
      <div class="container seccion">
        <div class="row">
          <div class="col-md-12 form-group">
            <span class="spanInput"
              >Redacción cronológica de la intervención*:</span>
            <label
              class="form-controler"
              id="redaccionCronologica"
              placeholder="Ingresar redaci&oacute;n cronol&oacute;gica"

              formControlName="redaccionCronologica de la investigación"
              #objetivosRef
              maxlength="4096"
              required
              rows="4">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </label>

          </div>
          <div class="col-md-12 form-group">
            <span class="spanInput">Diagnostico social*:</span>
            <label
              class="form-controler"
              id="diagnosticoSocial"
              placeholder="Ingresar diagnostico social"

              formControlName="diagnosticoSocial"
              #desarrolloRef
              maxlength="4096"
              rows="4">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

            </label>


          </div>


          <div class="row">
            <div
              class="col-md-12"
              style="padding-top: 19px; padding-right: 24px; margin-top: -3%"
            >
              <button
                type="button"
                class="btn btn-primary buttonL"
                style="float: right; border: solid 1px #9d2449"

              >
                Imprimir
              </button>
            </div>
          </div>

        </div>
      </div>
    <!-- </form> -->

  </div>
</app-card-template>
