
<div style="margin-bottom: 1%"></div>
<app-tarjeta-presentacion></app-tarjeta-presentacion>
<ng-container *ngIf="datosGenerales == true">
<app-card-template>
  <div header class="flex justify-content-between align-items-center nuevoEstudio">
    <span style="font-weight: 700; font-size: 24px; color: #222222; line-height: 29.16px;">
      Nuevo estudio social médico
    </span>
  </div>
  <div content class="content" style="border: 1px solid #CCCCCC ; width: 1099px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);">
    <div class="contenido">

      
      <div class="row" style=" height: 11%; ">
        <div class="datosG">
          <label class="datosGeneralesLabel">1.-Datos generales</label>
        </div>
        <div class="alin" >
        <div header class="flex justify-content-between align-items-center col-md-3"></div>
        <div header class="flex justify-content-between align-items-center col-md-3 row" style="text-align: right; margin-top: 10px;">
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >1</label>
            <img src="../../assets/icons/circulo_verde.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >2</label>
            <img src="../../assets/icons/grisintenso.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.4px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >3</label>
            <img src="../../assets/icons/grisSutil.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
        </div>
      </div>
    </div>
      <br>
      <div class="line63" style="border-bottom: black;"></div>
      <div>
      </div>
      <form class="formInfo">
        <div class="container">
          <div class="flex" style="display:flex;">
            <div class="divEstudioSolicitado">
              <span class="labels">Estudio solicitado por:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar nombre">
                Erick Daniel Rodríguez Hernandez
            </label>
              </div>
            <div class="divFechas">
              <span class="labels">Fecha del estudio:</span>
              <br>
              <label class="inputNormal" type="text" placeholder="dd/mm/aaaa">
                01 / 04 /2022
            </label>
              </div>
          </div>

          <br>
          <div class="line63-DatosG" style="border-bottom: black;"></div>
          <br>

          <div class="flex-2" style="display:flex ;">
            <div class="divCP">
              <span class="labels">Código Postal:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar código postal">
                06500
              </label>
              </div>
            <div class="divEstado">
              <span class="labels">Estado:</span>
              <br>
              <label class="inputNormal">
                CDMX
              </label>
              </div>
            <div class="divD">
              <span class="labels">Delegación/Municipio:</span>
              <br>
              <label class="inputNormal" >
                Cuauthémoc
              </label>
              </div>
          </div>
          <div class="flex-3" style="display:flex ;">
            <div class="divCiudad">
              <span class="labels">Ciudad:</span>
              <br>
              <label class="inputNormal">
                Juárez
              </label>
            </div>
            <div class="divColonia">
              <span class="labels">Colonia:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar colonia">
                Los girasoles
              </label>
              </div>
            <div class="divCalle">
              <span class="labels">Calle:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar calle">
                Av. Paseo de la Reforma
              </label>
            </div>
          </div>
          <div class="flex-4" style="display:flex ;">
            <div class="divNumExt">
              <span class="labels">Número exterior:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar número">
                23
              </label>
              </div>
            <div class="divNumInt">
              <span class="labels">Número interior:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar número">
                12
              </label>
              </div>
            <div class="divTipoComunidad">
              <span class="labels">Tipo de comunidad:</span>
              <br>
              <label class="inputNormal">
                Urbana
              </label>
            </div>
          </div>
          <div class="flex-5" style="display:flex ; height: 60px;">
            <div class="divTelefonoFijo">
              <span class="labels">Teléfono fijo:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar número">
                5543256790
              </label>
              </div>
            <div class="divTelefonoCelular">
              <span class="labels">Teléfono celular:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar número">
                5543256790
              </label>
              </div>
            <div class="divEmail">
              <span class="labels">Correo electrónico:</span>
              <br>
              <label class="inputNormal" placeholder="Ingresar correo">
                daniel1060@outlook.com
              </label>
              </div>
          </div>
          <div class="flex-6" style="display:flex ;">
            <div class="divEstadoCivil">
              <span class="labels">Estado civil:</span>
              <br>
              <label class="inputNormal">
                Casado(a)
              </label>
            </div>
            <div class="divOcupacion">
              <span class="labels">Ocupación:</span>
              <br>
              <label class="inputNormal">
              Abogado
              </label>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: center;">

            </div>
            <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: 0.4%; text-align: center;  color: rgb(122, 122, 122);">
              <img src="url('../../../../assets/icons/menorqueBloqueado.svg" alt="" style="margin-right: 3px;">
              <label style="font-size: 14px; font-weight: 500; color: #CFCFCF" > Atrás </label>
              <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
              <img src="url('../../../../assets/icons/1.svg" alt="" style="margin-left: -18px;">
            </div>
            <div class="col-md-4" style="padding-top: 29px; padding-right: 79px;  margin-top: -1.4%;">
              <button class="btn btn-primary buttonL" style="float: right;border: solid 1px #9d2449;">
                Imprimir
              </button>
              <button class="btn btn-primary buttonL" style="float: right; border: solid 1px #9d2449;" (click)="irDatosDeFamiliar()">
                Siguiente
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-card-template>
</ng-container>



<ng-container *ngIf="datosFamiliar == true">
<app-card-template>
      <div header class="flex justify-content-between align-items-center consultaCronicasGrupales">
        <label>
          Nuevo estudio social médico
        </label>
      </div>
  <div content style="padding-bottom: 5.5%; height: 500px;">
    <div class="Rectangle-306" style="background-color: white">
      <div class="row" style="width: 100%; height: 11%; ">
        <div header class="flex justify-content-between align-items-center col-md-6">
          <label class="datos">
            2.- Datos de familiar / responsable
          </label>
        </div>
        <div header class="flex justify-content-between align-items-center col-md-3"></div>
        <div header class="flex justify-content-between align-items-center col-md-3 row" style="background-color: #9d2449;">

          <div class="col-md-4" style="background-color: #9d2449;" >

            </div>
          <div class="col-md-4" style="background-color: blue">
            </div>
          <div class="col-md-4" style="background-color: #9d2449;">
            </div>

        </div>
      </div>

      <div style="width: 464px; background-color:#DBDBDC; height: 1px;"></div>

        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Nombre de familiar o persona responsable
              </label>
              <label class="inputNormal" id="txtconsulta" >
                Adelia Allison Ramirez Gomez
            </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Edad:
              </label>
              <label class="inputNormal" id="txtconsulta" >
                35
            </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Parentesco:
              </label>
              <label class="inputNormal" id="txtconsulta">
                Esposo(a)
            </label>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0 -4px  -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Código postal:
              </label>
              <label class="inputNormal" id="txtconsulta" >
                06500
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Estado:
              </label>
              <label class="inputNormal" id="txtconsulta" >
            CDMX
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Delegacion/Municipio:
              </label>
              <label class="inputNormal" id="txtconsulta">
              Cuauthémoc
              </label>
            </div>
          </div>
        </div>



            <div class="col-md-4" >
              <div class="">
                <label class="control-label tituloInput">
                  Ciudad
                </label>
                <label class="inputNormal" id="txtconsulta">
              Juárez
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="">
                <label class="control-label tituloInput">
                  Colonia:
                </label>
                <label class="inputNormal" id="txtconsulta">
              Los girasoles
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="">
                <label class="control-label tituloInput">
                  Calle:
                </label>
                <label class="inputNormal" id="txtconsulta">
                  Av. Paseo de la Reforma
                </label>
              </div>
            </div>

            <div class="row" style="margin: 1 -4px  -4px; padding-left: 10px;">
            <div class="col-md-4" >
                <div class="">
                  <label class="control-label tituloInput">
                    Numero exterior
                  </label>
                  <label class="inputNormal" id="txtconsulta">
                   23
                  </label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="">
                  <label class="control-label tituloInput">
                    Numero interior:
                  </label>
                  <label class="inputNormal" id="txtconsulta" >
                   12
                  </label>
                </div>
              </div>
            </div>


            <div class="row" style="margin: 0 -4px  -4px;">
                <div class="col-md-4">
                  <div class="">
                    <label class="control-label tituloInput">
                      Teléfono fijo:
                    </label>
                    <label class="inputNormal" id="txtconsulta" >
                      5543256790
                  </label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="">
                    <label class="control-label tituloInput">
                      Teléfono celular:
                    </label>
                    <label class="inputNormal" id="txtconsulta">
                      5543256790
                    </label>
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="">
                      <label class="control-label tituloInput">
                        Correo electronico:
                      </label>
                      <label class="inputNormal" id="txtconsulta">
                        adeali@yahoo.com
                      </label>
                    </div>
                  </div>
                </div>

      <div  style="width: 100%; height: 17%; ">
        <div class="row">
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: center;">

         </div>
          <div class="col-md-4" style="padding-top: 49px; padding-right: 24px;  margin-top: 0.4%; text-align: center;">
            <img src="url('../../../../assets/icons/menor_que.svg" alt="" style="margin-right: 5px;" (click)="irDatosGenerales()">
            <label style="font-size: 14px; font-weight: 500;" (click)="irDatosGenerales()"> Atrás </label>
            <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
            <img src="url('../../../../assets/icons/2.svg" alt="" style="margin-left: -18px;">
            </div>
          <div class="col-md-4" style="padding-top: 49px; padding-right: 24px;  margin-top: -1.4%;">
            <button class="btn btn-primary buttonL"
              style="float: right;border: solid 1px #9d2449;" >
              Imprimir
            </button>
            <button  class="btn btn-primary buttonL"
            style="float: right; border: solid 1px #9d2449;;" (click)="irExploracionCaso()">
            Siguiente
        </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card-template>
</ng-container>

<ng-container *ngIf="datosExploracionCaso == true">
<app-card-template>
  <div header class="flex justify-content-between align-items-center consultaCronicasGrupales">
    <label>
      Nuevo estudio social médico
    </label>
  </div>
  <div content style="padding-bottom: 5.5%; height: 600px;">
    <div class="Rectangle-306-2" style="background-color: white">
      <div class="row" style="width: 100%; height: 11%; ">
        <div header class="flex justify-content-between align-items-center col-md-6">
          <label class="datos">
            3.- Datos de exploración del caso
          </label>
        </div>
        <div header class="flex justify-content-between align-items-center col-md-3"></div>
        <div header class="flex justify-content-between align-items-center col-md-3 row"
          style="background-color: #9d2449;">

          <div class="col-md-4" style="background-color: #9d2449;">

          </div>
          <div class="col-md-4" style="background-color: blue">
          </div>
          <div class="col-md-4" style="background-color: #9d2449;">
          </div>

        </div>
      </div>

      <div style="width: 464px; background-color:#DBDBDC; height: 1px;"></div>

      <div style="width: 100%; height: 50%;">

        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="contenedor1" style="display: flex;">
            <div class="col-md-4" style="flex:auto ;">
              <div class="" style="float: inline-end; width: 550px;">
                <label class="control-label tituloInput">
                  Objetivo del estudio:
                </label>
                <label class=" inputs3" id="txtconsulta" placeholder="Ingresar objetivo" >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
               </label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="" style="float:inline-end ; width: 200 px;">
                <label class="control-label tituloInput">
                  Datos del paciente:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar datos del paciente">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>
          </div>
          <div class="contenedor2" style="display: flex;">
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Datos familiares:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar datos familiares">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
              </label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Datos económicos:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar datos económicos">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>
          </div>
          <div class="contenedor3" style="display: flex; ">
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Condiciones del hogar:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar condiciones del hogar"  >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Datos complementarios:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar datos complementarios" >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>
          </div>
          <div class="contenedor4" style="display: flex; ">
            <!-- <div class="row" style="margin: 0 -4px 0 -4px;"> -->
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Diagnóstico social del paciente:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar diagnóstico social del paciente" >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Diagnóstico social de la familia:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar diagnóstico social de la familia">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>
          </div>
          <div class="contenedor5" style="display: flex;">
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Plan de tratamiento social:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar plan de tratamiento social" >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Acciones realizadas:
                </label>
                <label class="inputs3" id="txtconsulta" placeholder="Ingresar acciones realizadas" >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam.
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%; height: 17%; ">
        <div class="row">
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: end;">
          </div>
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: 12.4%; text-align: center;">
            <img src="url('../../../../assets/icons/menor_que.svg" alt="" style="margin-right: 5px;" (click)="irDatosDeFamiliar()">
            <label style="font-size: 14px; font-weight: 500;" (click)="irDatosDeFamiliar()"> Atrás </label>
            <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
            <img src="url('../../../../assets/icons/3.svg" alt="" style="margin-left: -18px;">
          </div>
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: 11.4%;">
            <button class="btn btn-primary buttonL" style="float: right;border: solid 1px #9d2449;">
              Imprimir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card-template>
</ng-container>

