<div *ngIf="alertVisible">
    <div class="alert alert-dismissible alertCompl" [ngClass]="alertTipo">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <div [innerHTML]="alertMensaje"></div>
    </div>
</div>

<div class="modal-container">
    <div class="header-part">
        <form [formGroup]="editForm">
            <div class="body-princ">
                <div class="form-group usrlist pull-left">
                    <label class="label-nss-paciente">NSS paciente</label>
                    <input class="form-control input-paciente" id="nss" placeholder="NSS paciente" maxlength="10"
                        maxlength="10" formControlName="nssPaciente" numbersOnly />
                </div>

                <div class="form-group grpbtns pull-left">
                    <button class="btn btn-default btn-limpiar" (click)="limpiarBusqueda()">Limpiar</button>
                    <button class="btn btn-primary btn-buscar " (click)="buscarPaciente()">Buscar</button>
                </div>

                <div class="form-group grpbtns pull-right">
                    <label class="title-left">
                        Búsqueda de NSS
                    </label>
                    <img src="../../../assets/images/Vector.svg" class="Vector">
                </div>
            </div>
        </form>
        <img class="img-lienzo" src="../../../assets/images/bg-header.png">
        <div class="header-bar-bottom">

        </div>
    </div>

    <div class="body-part">
        <div class="subcontent">
            <div class="content-title" col-12 col-md-12>
                <span class="label-atencion">
                    ¿Quién recibe la atención?
                </span>
                <span class="label-total-participantes">
                    Total de participantes
                    <span class="label-atencion">
                        &nbsp; &nbsp; {{countChecked + otros.length}}
                    </span>
                </span>
            </div>
            <div class="not-data" *ngIf="listPacientes.length === 0">
                <label class="label-not-data">
                    {{descNotData}}
                </label>
            </div>
            <div class="content-table" *ngIf="listPacientes.length > 0">
                <table id="tblpacientes" datatable class="table table-hover table-bordered table-gral caption-top">
                    <caption class="content-table-title">
                        <span class="label-content-table-title">
                            {{'Resultados'}}
                            <label class="label-atencion">
                                &nbsp; &nbsp; {{listPacientes.length}}
                            </label>
                        </span>
                    </caption>
                    <thead>
                        <tr>
                            <!-- <th><img style="cursor: pointer;" src="../../../assets/images/checkbox.svg"></th> -->
                            <th>
                                <input type="checkbox" [disabled]="listPacientes.length === 0"
                                    (change)="changeAll($event)" />
                            </th>
                            <th>NSS</th>
                            <th>Participante</th>
                            <th>Parentesco</th>
                            <th>Agregado Médico</th>
                            <th>Unidad Médica</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let item of listPacientes; let i=index">
                            <td>
                                <input type="checkbox" [checked]="item.checked"
                                    (change)="changeChecked($event, item)" />
                            </td>
                            <td>{{ item.nss }}</td>
                            <td>{{ item.paciente }}</td>
                            <td>{{ item.parentesco }}</td>
                            <td>{{ item.agregadoMedico }}</td>
                            <td>{{ item.unidadMedica }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="fields-extras">
                <div class="form-group pull-left container-otros">
                    <label class="label-nombre">Otros:</label>
                    <div class="form-group flex">
                        <input class="form-control input-nombre" id="turno" [(ngModel)]="nombre"
                            placeholder="Ingresar nombre de participante" />
                        <img style="cursor: pointer;" src="../../../assets/images/plus-circle.svg" (click)="addOtro();">
                    </div>

                </div>
                <div class="otros" *ngIf="otros.length > 0">
                    <form [formGroup]="otrosForm">
                        <table id="tblotros" datatable
                            class="table table-hover table-bordered table-gral table-otros caption-top">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody formArrayName="otros">
                                <tr *ngFor="let item of otros.value; let i=index">
                                    <td>{{item.nombreCompleto}}</td>
                                    <td style="text-align: center !important;">
                                        <img style="cursor: pointer;" src="../../../assets/images/tache.svg"
                                            (click)="removeOtro(i)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <div class="form-group footer-part">
            <button class="btn btn-primary btn-guardar" (click)="guardarParticipantes()">Guardar</button>
        </div>
    </div>
</div>