label span {
    font-family: 'Montserrat';
    font-style: normal;
}

.Bg {
    height: 218px;
    flex-grow: 0;
    background-color: #10312b;
    display: grid;
    place-content: center;
}

.Rectangle-855 {

    width: 1181PX;
    height: 665px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
}

.Rectangle-929 {
    width: 1216px;
    height: 68px;
    margin: 0 0 1px;
    padding: 19px 816px 20px 42px;
    border-bottom: solid 1px #e6e6e6;
}

.titulo {
    width: 358px;
    height: 90px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222;
    top: 0;
}

.instrucciones {
    width: 270px;
    height: 17px;
    margin: 14.5px 711px 10px 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
    margin-top: 5px;
    margin-left: 10px;
}

.seccion {
    width: 96%;
    border-radius: 15px;
    border: solid 1px #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5px; */
    padding-bottom: 10px;
}

.spanInput {
    width: 275px;
    height: 20px;
    flex-grow: 0;
    margin: 0 0 0 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {

    width: 100%;
    height: 30px;
    flex-grow: 0;
    margin: 0px 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px #ddd;
    background-color: #fff;

}

i {
    width: 13px;
    height: 13px;
    border-left: 2px solid #9f2241;
    border-bottom: 2px solid #9f2241;
    transform: rotate(-45deg);
    float: right;
    position: absolute;
    top: 31px;
    right: 32px;
}

select::-ms-expand {
    display: none;
}

.select-css option {
    font-weight: normal;
    padding-left: 10px;
}

.row {
    margin-top: 40px;
    margin-bottom: 5px;
}

input {
    height: 30px;
}

.buttonL {
    width: 120px;
    height: 34px;
    border-radius: 3px;
    margin: 30px 15px 0 10px !important;
    padding: 5px;
    align-self: stretch;
    flex-grow: 1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 200%;
}

input,
textarea,
select {

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

textarea {
    resize: vertical;
}

.pacienteNombreSpan {
    /* width: 320px; */
    height: 27px;
    flex-grow: 0;
    margin: 4px 0 0 0px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color:
        #222222;
}

.tituloDosSpam {
    width: 120%;
    height: 23px;
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    margin-top: 3%;
}


.tituloDosServicioSpam {
    font-size: 16px;
    color: #222222;
    font-weight: 600;

}


.spanCaracteres {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

}


.pacienteNombreSpan {
    width: 320px;
    height: 27px;
    flex-grow: 0;
    margin: 4px 0 0 0px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.container {
    margin-bottom: 10px;
}


.formInfo {
    margin-left: -22px;
    margin-right: -22px;
}

.campo-obligatorio {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    color: #272829;
}

.table-gral {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-collapse: collapse;
    border-bottom: 0 solid #dee2e6;
    width: 96%;
}

.table>:not(:first-child) {
    border-top: 0 solid #dee2e6;
    border-bottom: 0 solid #dee2e6;
}

table.table-gral>thead tr th {
    background: rgba(196, 196, 196, 0.1);
    border: 1px solid #EEEEEE;
    border-radius: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #222222;

}

table.table-gral>tbody tr td {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px !important;
    align-items: center;
    text-align: center;
    color: #000000;
}

table.table-participantes>thead tr th {
    align-items: center;
    text-align: left;
}

table.table-participantes>tbody tr td {
    align-items: center;
    text-align: left;
}

.table-participantes {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
}

.label-total-participantes {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

.label-atencion {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
}

.hrCronica {
    text-align: left;
    background-color: #000000;
    height: 25px;
    width: 0.2%;
    margin-top: 8px;
}

.hrCronicaServicio {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    margin-left: -60px;
    text-align: left;
    /* background-color: #000000; */
    padding-top: 0.8%;
    width: 0.5px;
    height: 1.5vh;
    margin-top: 0.6%;
}

.tabla>tbody>tr>td,
.tabla>tbody>tr>th,
.tabla>tfoot>tr>td,
.tabla>tfoot>tr>th,
.tabla>thead>tr>td,
.tabla>thead>tr>th {
    padding: 2px;

    border-top: 1px solid #ddd;
    width: 96%;

}

.Atencin {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    color: #222222;
}

.modal-content .line62{
    left: 0.4%;
    right: 0%;
    top: 32%;
    bottom: 56.72%;
    border: 1px solid #CCCCCC;
    transform: matrix(1, 0, 0, 1, 0, 0);
    height: 0.5px;
    width: 598px;
    left: 2px;
    top: 106px;
    border-radius: 10px;
}

.modal-header{
    background-color: #fff;
    color:#fff;

}
.modal-content{
    margin: auto;

}