.Bg {
    height: 218px;
    flex-grow: 0;
    background-color: #10312b;
    display: grid;
    place-content: center;

}

.Rectangle-855 {

    width: 1181PX;
    height: 665px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
}

.Rectangle-929 {
    width: 1216px;
    height: 68px;
    margin: 0 0 1px;
    padding: 19px 816px 20px 42px;
    border-bottom: solid 1px #e6e6e6;
}

.titulo {
    width: 358px;
    height: 29px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.instrucciones {
    width: 270px;
    height: 17px;
    margin: 14.5px 711px 10px 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
    margin-top: 5px;
    margin-left: 10px;
}

.seccion {

    width: 96%;
    border-radius: 15px;
    border: solid 1px #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-bottom: 10px;


}

.spanInput {
    width: 275px;
    height: 20px;
    flex-grow: 0;
    margin: 0 0 0 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;

}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select {

    width: 100%;
    height: 30px;
    flex-grow: 0;
    margin: 0px 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px #ddd;
    background-color: #fff;

}

i {
    width: 13px;
    height: 13px;
    border-left: 2px solid #9f2241;
    border-bottom: 2px solid #9f2241;
    transform: rotate(-45deg);
    float: right;
    position: absolute;
    top: 31px;
    right: 32px;
}

select::-ms-expand {
    display: none;
}

.select-css option {
    font-weight: normal;
    padding-left: 10px;
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    height: 30px;
}

.buttonL {
    width: 120px;
    height: 34px;
    border-radius: 3px;
    margin: 10px 15px 0 10px !important;
    padding: 5px;
    align-self: stretch;
    flex-grow: 1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

input,
textarea,
select {

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

textarea {
    resize: vertical;
}

.pacienteNombreSpan {
    width: 320px;
    height: 27px;
    flex-grow: 0;
    margin: 4px 0 0 0px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.container {
    margin-bottom: 25px;
}