<app-app-alerts></app-app-alerts>
<app-menu [activeItem]="1"></app-menu>
<div class="modal fade" role="dialog" id="content" #content>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center" fxLayoutAlign="space-between center" fxLayout="column">
        <img src="../../../../assets/images/Group 2082.png" class="Group-2082" alt="">
        <div class="modal-title Atencin">Atención</div>
      </div>
      <div class="line62" style=""></div>
      <div class="col-md12" style="text-align: center; margin-top: 5%;">

          <label class="titulo">¿Desea salir sin guardar cambios?</label>

      </div>
      <div class="col-md12 row"
          style="background-color: #FFFF; width:495px; height: 118px; text-align: center; margin: auto;
          padding: 15px;">

          <div class="col-md10" width="10px" height="10px" aling="center" >
              <button type="button" class="btn btn-danger buttonL" style="border: solid 1px #b38e5d;"
                  (click)="cancelar()">
                  Cancelar
              </button>
              <button type="button" class="btn btn-primary buttonL" style="border: solid 1px #9d2449;"
                  (click)="salirModal()">
                  Aceptar
              </button>
          </div>
          </div>

      </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<app-card-template>


  <div header class="flex justify-content-between row" *ngIf="this.cronicaRecibida">
    <div class="col-md-4">
      <div style="display: grid; text-align: left">
        <span class="pacienteNombreSpan">{{ "Nueva crónica grupal" }}</span>
      </div>
    </div>
    <hr class="hrCronica" style="margin-left: -5%" />
    <div class="col-md-4 ">
      <div style="display: grid; margin-left: -14%;">
        <span class="tituloDosSpam">{{ this.cronicaRecibida.fecFechaCompleta }}</span>
      </div>
    </div>
    <hr class="hrCronica" style="margin-left: -5%;" />
    <div class="col-md-4">
      <div style="display: grid; text-align: left; margin-left: -13%;">
        <span class="tituloDosSpam">{{ this.cronicaRecibida.desGrupo }}</span>
      </div>
    </div>
  </div>
  <div header class="flex justify-content-between row" *ngIf="!this.cronicaRecibida">
    <div class="col-md-12">
      <div style="display: grid; text-align: left">
        <span class="pacienteNombreSpan">{{ "Nueva crónica grupal" }}</span>
      </div>
    </div>
  </div>


  <div content>
    <div>
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
    </div>
    <form novalidate [formGroup]="editForm" class="formInfo">
      <div class="container seccion">
        <div class="row" *ngIf="this.cronicaRecibida === null">
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Grupo*:</span>
              <select class="form-control" formControlName="grupo" style="background-position-y: 5px;"
                aria-label="Servicio">
                <option class="select-font" [value]="'-1'" selected>Ingresar grupo</option>
                <option class="select-font" [value]="grupo.cve_grupo_programa" *ngFor="let grupo of grupos">
                  {{ grupo.des_grupo_programa }}
                </option>
                <option class="select-font">{{ 'Ingresar Grupo' }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group datepicker-group">
              <span class="spanInput">Fecha*:</span>
              <input class="form-control" formControlName="fecha" id="calendarCronica" type="text"
                placeholder="dd/mm/aaaa">
              <span class="glyphicon glyphicon-calendar fondocalendar" aria-hidden="true">
                <div class="imgCalendar"></div>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Hora*:</span>
              <select class="form-control " formControlName="hora" style="background-position-y: 5px;"
                aria-label="Servicio">
                <option class="select-font " [value]="'-1'" style="background-position-y: 10px;"
                  placeholder="Ingresar ponentes" selected>Ingresar hora</option>
                <option class="select-font" [value]="1">10:00:00</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">Ponentes*:</span>
            <input formControlName="descPonentes" class="form-control matricula inputs" id="txtconsulta"
              placeholder="Ingresar ponentes" type="text" />
          </div>
          <div class="col-md-6">
            <span class="spanInput">N&uacute;mero de asistentes*:</span>
            <input class="form-control matricula inputs" id="txtconsulta" formControlName="numParticipantesAsistieron"
              placeholder="Ingresar n&uacute;mero de asistentes" type="number" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">T&eacute;cnica did&aacute;ctica*:</span>
            <input class="form-control matricula inputs" id="txtconsulta" formControlName="desTecnicaDidactica"
              placeholder="Ingresar t&eacute;cnica did&aacute;ctica" type="text" />
          </div>
          <div class="col-md-6">
            <span class="spanInput">Material apoyo*:</span>
            <input class="form-control matricula inputs" id="txtconsulta" formControlName="desMaterialApoyo"
              placeholder="Ingresar material apoyo" type="text" />
          </div>
        </div>
      </div>

      <div class="container seccion">
        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">Objetivos de la sesi&oacute;n*:</span>
            <textarea class="form-control" placeholder="Ingresar objetivos de la sesi&oacute;n" style="height: 167px;"
              formControlName="desObjetivosSesion" #objetivosRef maxlength="500" rows="4"></textarea>
            <span class="spanCaracteres">{{objetivosRef.value?.length}} /
              {{objetivosRef.getAttribute('maxlength')}} caracteres</span>
          </div>
          <div class="col-md-6">
            <span class="spanInput">Desarrollo de la sesi&oacute;n*:</span>
            <textarea class="form-control" placeholder="Ingresar desarrollo de la sesi&oacute;n" style="height: 167px;"
              formControlName="desDesarrolloSesion" #desarrolloRef maxlength="500" rows="4"></textarea>
            <span class="spanCaracteres">{{desarrolloRef.value?.length}} /
              {{desarrolloRef.getAttribute('maxlength')}} caracteres</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <span class="spanInput">Perfil del grupo*:</span>
            <textarea class="form-control" placeholder="Escribir NSS paciente" rows="4" style="height: 167px;"
              formControlName="desPerfilGrupo" #perfilRef maxlength="500"></textarea>
            <span class="spanCaracteres">{{perfilRef.value?.length}} /
              {{perfilRef.getAttribute('maxlength')}} caracteres</span>
          </div>
          <div class="col-md-6">
            <span class="spanInput">Observaciones*:</span>
            <textarea class="form-control" placeholder="Ingresar observaciones" rows="4" style="height: 167px;"
              formControlName="desObservaciones" #observacionesRef maxlength="500"></textarea>
            <span class="spanCaracteres">{{observacionesRef.value?.length}} /
              {{observacionesRef.getAttribute('maxlength')}} caracteres</span>
          </div>
        </div>
      </div>


      <div class="container" style="margin-bottom: 0px; margin-left: 3.62%;">
        <span class="campo-obligatorio"> *Campos obligatorios </span>
        <button *ngIf="listParticipantes.length === 0"
          style="width: 170px; border: solid 1px #9d2449; margin-left: -10px !important;" type="button"
          class="btn btn-primary buttonL" (click)="addParticipanteDialog();">
          Agregar participante
        </button>
      </div>

      <div class="container seccion" *ngIf="listParticipantes.length > 0">
        <div class="row col-md-12" style="margin-top: 20px;">
          <span class="label-total-participantes" style="margin: 0px 10px;">
            Total de participantes
            <span class="label-atencion">
              &nbsp; &nbsp; {{listParticipantes.length}}
            </span>
          </span>
        </div>
        <div class="row col-md-10">
          <table id="tblparticipante"
            class="tabla table-hover table-bordered table-gral table-participantes caption-top">
            <thead>
              <tr>
                <th>Participantes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listParticipantes; let i=index">
                <td>{{item.nombreParticipante}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row col-md-12">
          <button style="width: 170px; border: solid 1px #9d2449; margin-left: 0px !important;" type="button"
            class="btn btn-primary buttonL" (click)="addParticipanteDialog();">
            Agregar participante
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%;">
          <button [disabled]="!this.editForm.valid" type="button" class="btn btn-primary buttonL"
            style="float: right;border: solid 1px #9d2449;" (click)="guardarCronica()">
            Guardar
          </button>
          <button type="button" class="btn btn-danger buttonL" style="float: right; border: solid 1px #b38e5d;"
            (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</app-card-template>

<app-info-bottom></app-info-bottom>