<div class="rect">
    <div class="info">
        <div class="part-img">
            <img src="../../assets/images/clothes.png" />
        </div>
        <div class="part-txt">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <label class="titulo">
                            Nombre del trabajador(a) social clínico:
                        </label>
                        <br />
                        <label class="texto-nombre">
                            {{usuario?.strNombres}} {{usuario?.strApellidoP}} {{usuario?.strApellidoM}}
                        </label>
                    </div>

                    <div class="col-md-2">
                        <label class="titulo">
                            Matrícula:
                        </label>
                        <br />
                        <label class="texto-gral">
                            {{usuario?.matricula}}
                        </label>
                    </div>

                    <div class="col-md-5">
                        <label class="titulo">
                            Cédula profesional:
                        </label>
                        <br />
                        <label class="texto-gral">
                            {{usuario?.cedulaProfesional}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="barra-bottom">
    </div>
</div>