<div style="margin-bottom: 1%"></div>
<app-tarjeta-presentacion></app-tarjeta-presentacion>
<ng-container *ngIf="datosGenerales == true">
<app-card-template>
  <div header class="flex justify-content-between align-items-center nuevoEstudio">
    <span style="font-weight: 700; font-size: 24px; color: #222222; line-height: 29.16px;">
      Nuevo estudio social médico
    </span>
  </div>
  <div content style="padding-bottom: 2.5%;">
    <div content class="content" style="border: 1px solid #CCCCCC ; width: 1099px;">
    <div class="contenido" >
      <div class="row" style=" height: 11%; ">
        <div header class="flex justify-content-between align-items-center col-md-6">
          <label class="datos">
            1.-Datos generales
          </label>
        </div>
        <div header class="flex justify-content-between align-items-center col-md-3"></div>
        <div header class="flex justify-content-between align-items-center col-md-3 row" style="text-align: right; margin-top: 10px;">
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >1</label>
            <img src="../../assets/icons/circulo_verde.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >2</label>
            <img src="../../assets/icons/grisintenso.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.4px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >3</label>
            <img src="../../assets/icons/grisSutil.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
        </div>
      </div>
      <br>
      <div class="line63" style="border-bottom: black;"></div>
      <div style="padding-bottom: 9px; padding-top: 9px;">
        <span class="instrucciones">
          Por favor capture los siguientes datos:
        </span>
      </div>
      <form novalidate class="formInfo" [formGroup]="camposNota">
        <div class="container">
          <div class="flex" style="display:flex;">
            <div class="divEstudioSolicitado">
              <span class="labels">Estudio solicitado por*:</span>
              <br>
              <input class="form-control" placeholder="Ingresar nombre" formControlName="nuevoEstudioSocial"
              [ngClass]="{
                'form-control-error':
                  camposNota.controls?.nuevoEstudioSocial?.dirty &&
                  camposNota.controls?.nuevoEstudioSocial?.errors
              }" required>
              <small *ngIf="
                camposNota.controls?.nuevoEstudioSocial?.dirty &&
                camposNota.controls?.nuevoEstudioSocial?.errors
              " class="form-text form-text-error Campo-obligatorio">
              Campo obligatorio
            </small>
            </div>
            <div class="divFechas">
              <span class="labels">Fecha del estudio*:</span>
              <br>
              <input class="form-control" type="text" placeholder="dd/mm/aaaa" style="background-color:#EEEEEE ;">
            </div>
          </div>

          <br>
          <div class="line63-DatosG" style="border-bottom: black;"></div>
          <br>

          <div class="flex-2" style="display:flex ;">
            <div class="divCP">
              <span class="labels">Código Postal*:</span>
              <br>
              <input class="form-control" placeholder="Ingresar código postal">
            </div>
            <div class="divEstado">
              <span class="labels">Estado:</span>
              <br>
              <input class="form-control" style="background-color:#EEEEEE ;">
            </div>
            <div class="divD">
              <span class="labels">Delegación/Municipio:</span>
              <br>
              <input class="form-control" style="background-color:#EEEEEE ;">
            </div>
          </div>
          <div class="flex-3" style="display:flex ;">
            <div class="divCiudad">
              <span class="labels">Ciudad*:</span>
              <br>
              <select class="select">
                <option value="-1">Ingresar ciudad</option>
              </select>
            </div>
            <div class="divColonia">
              <span class="labels">Colonia*:</span>
              <br>
              <input class="form-control" placeholder="Ingresar colonia">
            </div>
            <div class="divCalle">
              <span class="labels">Calle*:</span>
              <br>
              <input class="form-control" placeholder="Ingresar calle">
            </div>
          </div>
          <div class="flex-4" style="display:flex ;">
            <div class="divNumExt">
              <span class="labels">Número exterior*:</span>
              <br>
              <input class="form-control" placeholder="Ingresar número">
            </div>
            <div class="divNumInt">
              <span class="labels">Número interior*:</span>
              <br>
              <input class="form-control" placeholder="Ingresar número">
            </div>
            <div class="divTipoComunidad">
              <span class="labels">Tipo de comunidad*:</span>
              <br>
              <select class="select">
                <option value="-1">Seleccionar comunidad</option>
              </select>
            </div>
          </div>
          <div class="flex-5" style="display:flex ; height: 60px;">
            <div class="divTelefonoFijo">
              <span class="labels">Teléfono fijo:</span>
              <br>
              <input class="form-control" placeholder="Ingresar número">
            </div>
            <div class="divTelefonoCelular">
              <span class="labels">Teléfono celular:</span>
              <br>
              <input class="form-control" placeholder="Ingresar número">
            </div>
            <div class="divEmail">
              <span class="labels">Correo electrónico:</span>
              <br>
              <input class="form-control" placeholder="Ingresar correo">
            </div>
          </div>
          <div class="flex-6" style="display:flex ;">
            <div class="divEstadoCivil">
              <span class="labels">Estado civil*:</span>
              <br>
              <select class="select">
                <option value="-1">Seleccionar estado civil</option>
              </select>
            </div>
            <div class="divOcupacion">
              <span class="labels">Ocupación*:</span>
              <br>
              <select class="select">
                <option value="-1">Ingresar ocupación</option>
              </select>
            </div>
          </div>
          <br>
          <div><span class="labels">*Campos obligatorios</span></div>
          <div class="row">
            <div class="col-md-4"
              style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: center;">

            </div>
            <div class="col-md-4"
              style="padding-top: 19px; padding-right: 24px;  margin-top: 0.4%; text-align: center;">
              <img src="url('../../../../assets/icons/menorqueBloqueado.svg" alt="" style="margin-right: 5px; ">
              <label style="font-size: 14px; font-weight: 500; color: #CFCFCF" > Atrás </label>
              <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
              <img src="url('../../../../assets/icons/1.svg" alt="" style="margin-left: -18px;">
            </div>
            <div class="col-md-4" style="padding-top: 29px; padding-right: 79px;  margin-top: -1.4%;">
              <button (click)="irDatosDeFamiliar()" class="btn btn-primary buttonL" style="float: right;border: solid 1px #9d2449;">
                Siguiente
              </button>
              <button type="button" class="btn btn-danger buttonL" style="float: right; border: solid 1px #b38e5d;" (click)="modalcarga(content)">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>

  </div>
</app-card-template>
</ng-container>

<ng-container *ngIf="datosFamiliar == true">
<app-card-template>
  <div header class="flex justify-content-between align-items-center consultaCronicasGrupales">
    <span style="font-weight: 700; font-size: 24px; color: #222222; line-height: 29.16px;">
      Nuevo estudio social médico
    </span>
  </div>

  <div content style="padding-bottom: 2.5%;">
    <div class="Rectangle-306" style="background-color: white">
      <div class="row" style=" height: 11%; ">
        <div header class="flex justify-content-between align-items-center col-md-6">
          <label class="datos">
            2.- Datos de familiar / responsable
          </label>
        </div>
        <div header class="flex justify-content-between align-items-center col-md-3"></div>
        <div header class="flex justify-content-between align-items-center col-md-3 row" style="text-align: right; margin-top: 10px;">
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >1</label>
            <img src="../../assets/icons/grisintenso.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >2</label>
            <img src="../../assets/icons/circulo_verde.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.4px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >3</label>
            <img src="../../assets/icons/grisSutil.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
        </div>
      </div>

      <div style="width: 464px; background-color:#DBDBDC; height: 1px;"></div>
<div style="padding-bottom: 9px; padding-top: 9px;">
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
      </div>
      <div style="width: 100%; height: 57%;">

        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Nombre de familiar o persona responsable*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar nombre"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Edad*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar edad"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Parentesco*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar parentesco"
                type="text" />
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0 -4px  -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Código postal*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar Código postal"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Estado:
              </label>
              <input style="background-color: #DBDBDC;" class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar estado"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Delegación/Municipio:
              </label>
              <input style="background-color: #DBDBDC;"  class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar delegación/unicipio"
                type="text" />
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Ciudad*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar ciudad"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Colonia*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar colonia"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Calle*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar calle"
                type="text" />
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Número exterior*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar número exterior"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Número interior*:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar número interior"
                type="text" />
            </div>
          </div>

          <div class="col-md-4">
          </div>
        </div>
        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="col-md-4">
            <div class="" style="margin-bottom: 15px!important">
              <label class="control-label tituloInput">
                Teléfono fijo:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar teléfono fijo"
                type="text" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Teléfono celular:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar teléfono celular"
                type="text" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <label class="control-label tituloInput">
                Correo electrónico:
              </label>
              <input class="form-control matricula inputs" id="txtconsulta" placeholder="Ingresar correo electrónico"
                type="text" />
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%; height: 14%; ">
        <div class="row">
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: center;">

          </div>
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: 0.4%; text-align: center;">
            <img src="url('../../../../assets/icons/menor_que.svg" alt="" style="margin-right: 5px;" (click)="irDatosGenerales()">
            <label style="font-size: 14px; font-weight: 500;" (click)="irDatosGenerales()"> Atrás </label>
            <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
            <img src="url('../../../../assets/icons/2.svg" alt="" style="margin-left: -18px;">
          </div>
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%;">
            <button (click)="irExploracionCaso()" class="btn btn-primary buttonL" style="float: right;border: solid 1px #9d2449;">
              Siguiente
            </button>
            <button type="button" class="btn btn-danger buttonL" style="float: right; border: solid 1px #b38e5d;" (click)="modalcarga(content)">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</app-card-template>
</ng-container>

<ng-container *ngIf="datosExploracionCaso == true">
<app-card-template style="padding-bottom: 10%;">
  <div header class="flex justify-content-between align-items-center consultaCronicasGrupales">
    <label>
      Nuevo estudio social médicos
    </label>
  </div>
  <div content style="padding-bottom: 5.5%; height: 100%;">
    <div class="Rectangle-306-2" style="background-color: white">
      <div class="row" style=" height: 11%; ">
        <div header class="flex justify-content-between align-items-center col-md-6">
          <div style="padding-bottom: 9px; padding-top: 9px;">
          <label class="datos">
            3.- Datos de exploración del caso
          </label>
          </div>
        </div>
        <div header class="flex justify-content-between align-items-center col-md-3"></div>
        <div header class="flex justify-content-between align-items-center col-md-3 row" style="text-align: right; margin-top: 10px;">
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >1</label>
            <img src="../../assets/icons/grisintenso.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >2</label>
            <img src="../../assets/icons/grisSutil.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.4px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10.4px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
          <div class="col-md-4" style=" height: 40px;">
            <label style="margin-right: 6px; font-size: 14px; position: relative;" >3</label>
            <img src="../../assets/icons/circulo_verde.svg" alt="" style="width: 38px; height: 38px;">
            <img src="../../assets/icons/dobles.svg" alt="" style="margin: -17px 0 0 -15px;  ">
            <img src="../../assets/icons/oja.svg" alt="" style="margin: -51px 0 0 29px">
            <img src="../../assets/icons/linea3.svg" alt="" style="margin: -220px -0.1px 0 0">
            <img src="../../assets/icons/linea2.svg" alt="" style="margin: -213.8px 12px 0 -10px">
            <img src="../../assets/icons/linea1.svg" alt="" style="margin: -207px 9px 0 -19px">
            <img src="../../assets/icons/goma.svg" alt="" style="margin: -219px -4.3px 0 0">
            <img src="../../assets/icons/fierrogoma.svg" alt="" style="margin: -217px -10px 0 0">
            <img src="../../assets/icons/lapizcorrecto.svg" alt="" style="margin: -210px 5px 0 0">
          </div>
        </div>
      </div>

      <div style="width: 464px; background-color:#DBDBDC; height: 1px;"></div>

      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
      <div style="width: 100%; height: 57%;">

        <div class="row" style="margin: 0 -4px 0 -4px;">
          <div class="contenedor1" style="display: flex;">
            <div class="col-md-4" style="flex:auto ;">
              <div class="" style="float: inline-start; width: 300px;">
                <label class="control-label tituloInput">
                  Objetivo del estudio*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta" placeholder="Ingresar objetivo"
                  type="text"></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="" style="float:inline-end ; width: 200 px;">
                <label class="control-label tituloInput">
                  Datos del paciente*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta" placeholder="Ingresar datos del paciente"
                  type="text" #objetivosRef maxlength="4096" required rows="4"></textarea>
                <label class="caracteres">{{ objetivosRef.value?.length }} /2000 caracteres</label>
              </div>
            </div>
          </div>
          <div class="contenedor2" style="display: flex;">
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Datos familiares*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta" placeholder="Ingresar datos familiares"
                  type="text"></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Datos económicos*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta" placeholder="Ingresar datos económicos"
                  type="text"></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>
          </div>
          <div class="contenedor3" style="display: flex;">
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Condiciones del hogar*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta"
                  placeholder="Ingresar condiciones del hogar" type="text"></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Datos complementarios*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta"
                  placeholder="Ingresar datos complementarios" type="text" ></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>
          </div>
          <div class="contenedor4" style="display: flex;">
            <!-- <div class="row" style="margin: 0 -4px 0 -4px;"> -->
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Diagnóstico social del paciente*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta"
                  placeholder="Ingresar diagnóstico social del paciente" type="text" ></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Diagnóstico social de la familia*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta"
                  placeholder="Ingresar diagnóstico social de la familia" type="text" ></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>
          </div>
          <div class="contenedor5" style="display: flex;">
            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Plan de tratamiento social*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta"
                  placeholder="Ingresar plan de tratamiento social" type="text" ></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>

            <div class="col-md-4" style="flex:auto ;">
              <div class="">
                <label class="control-label tituloInput">
                  Acciones realizadas*:
                </label>
                <textarea class="form-control matricula inputs3" id="txtconsulta"
                  placeholder="Ingresar acciones realizadas" type="text" ></textarea>
                <label class="caracteres">0/2000 caracteres</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%; height: 17%; ">
        <div class="row">
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: -1.4%; text-align: end;">
          </div>
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: 12.4%; text-align: center;">
            <img src="url('../../../../assets/icons/menor_que.svg" alt="" style="margin-right: 5px;" (click)="irDatosDeFamiliar()">
            <label style="font-size: 14px; font-weight: 500;" (click)="irDatosDeFamiliar()"> Atrás </label>

            <img src="url('../../../../assets/icons/circulo_verde.svg" alt="" style="margin-left: 9px;">
            <img src="url('../../../../assets/icons/3.svg" alt="" style="margin-left: -18px;">
          </div>
          <div class="col-md-4" style="padding-top: 19px; padding-right: 24px;  margin-top: 11.4%;">
            <button class="btn btn-primary buttonL" style="float: right;border: solid 1px #9d2449;">
              Guardar
            </button>
            <button type="button" class="btn btn-danger buttonL" style="float: right; border: solid 1px #b38e5d;"  (click)="modalcarga(content)">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card-template>
</ng-container>

<div class="modal fade" role="dialog" id="content" #content >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 1px solid #CCCCCC ;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16); border-radius: 10px;">
      <div class="modal-header text-center" fxLayoutAlign="space-between center" fxLayout="column"
      style="border: 1px solid #CCCCCC ; border-bottom: 1px;
      border-radius: 10px 10px 0 0;">
        <img src="../../../../assets/images/Group 2082.png" class="Group-2082" alt="">
        <div class="modal-title Atencin">Atención</div>
      </div>
      <div class="line62" style="border-bottom: black;"></div>
      <div class="col-md12" style="text-align: center; margin-top: 5%; height: 80px;">

          <label class="tituloModal" style="font-weight: 500; font-size: 24px;
          line-height: 21.94px; text-align: center;" >¿Desea salir sin guardar</label>
          <br>
          <label style="font-weight: 500; font-size: 24px;
          line-height: 21.94px; text-align: center;"> los cambios?</label>

      </div>
      <div class="col-md12 row"
          style="width:495px; height: 118px; text-align: center; margin: auto;
          padding: 15px; background-color: #FAFAFA; border-radius: 10px;">

          <div class="col-md10" width="495px" height="118px" aling="center" >
              <button type="button" class="btn btn-danger buttonL" style="border: solid 1px #b38e5d;"
                  (click)="cancelarModal()">
                  Cancelar
              </button>
              <button type="button" class="btn btn-primary buttonL" style="border: solid 1px #9d2449;"
                  (click)="salirModal()">
                  Aceptar
              </button>
          </div>
          </div>

      </div>
</div>
</div>
<app-info-bottom></app-info-bottom>













