.line63 {
  height: 0.15px;
  background-color: #CCCCCC;
  width: 494px;
}

.line63-DatosG {
  height: 0.15px;
  background-color: #CCCCCC;
  width: 1070px;
}
.form-control {
  font-size: 14px !important;
  border-radius: 5px;
  width: 340px;
  height: 30px;
  top: 272px;
  left: 10px;
  font-size: 14px;
}
.form-control-txt {
  font-size: 14px !important;
  height: 60px;
  width: 500px;
  left: 10px;
  top: 235px;
  border-radius: 5px;
  border-color: #DDDDDD
}
.content {
  width: 596px;
  height: 650px;
  left: 1193px;
  border-radius: 1px;
}

.labels {
  width: 275px;
  height: 20px;
  top: 110px;
  left: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
}

.inputNormal {
  width: 340px;
  height: 30px;
  top: 272px;
  left: 10px;
  border-radius: 5px;
  border-color: #DDDDDD;
}

::placeholder {
  color: #222222;
  font-size: 14px;
}

.inputBloqueado{
  border-radius: 5px;
  width: 340px;
  height: 30px;
  top: 272px;
  left: 10px;
  font-size: 14px;
  color: #222222;
  background-color: #EEEEEE;
}
.select {
  border-radius: 5px;
  width: 340px;
  height: 30px;
  top: 272px;
  left: 10px;
  font-size: 14px;
  color: #222222;
}

.buttonL {
  width: 120px;
  height: 34px;
  border-radius: 3px;
  margin: 10px 15px 0 10px !important;
  padding: 5px;
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #222;
  margin-top: 5px;
  margin-left: 10px;
}
.Rectangle-306-2 {
  margin-top: 10px;
  height: 800px;
  width: 100%;
  flex-grow: 0;
  border: solid 1px #e6e6e6;

}
/* ---------------------------------------------FER------------------------------------------------- */
.Rectangle-306 {
  margin-top: 10px;
  height: 500px;
  width: 100%;
  flex-grow: 0;
  border: solid 1px #e6e6e6;
}

.nuevoEstudioSocialMedico {
  font-family: 'Montserrat';
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  left: 3.45%;
  right: 71.79%;
  color: #222;
}


.datos {
  font-family: 'Montserrat';
  font-size: 20px;
  font-stretch: normal;
  font-style: medium;
  line-height: 80px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  left: 3.45%;
  right: 71.79%;
  color: #222222;
  margin-top: 25px;
  margin-left: 37px;
}

.instrucciones {
  width: 270px;
  height: 17px;
  margin: 14.5px 711px 10px 12px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  /* margin-left: 200%; */
}

.circulo {
  height: 38px;
  width: 38px;
  background: #05ADA7;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.caracteres {
  width: 145px;
  height: 10px;
  top: 295px;
  left: 10px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

}

.datosG {
  font-family: 'Montserrat';
  font-size: 20px;
  font-stretch: normal;
  font-style: medium;
  line-height: 80px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  left: 3.45%;
  right: 71.79%;
  color: #222222;
  margin-top: 20px;
  margin-left: 37px;
}

.buttons {
  width: 1070px;
  height: 90px;
}

.DdatosGeneralesLabel {
  font-family: 'Montserrat';
  font-size: 20px;
  font-stretch: normal;
  font-style: medium;
  line-height: 80px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  left: 3.45%;
  right: 71.79%;
  color: #222222;
  margin-top: 20px;
  margin-left: 37px;
}

.divEstudioSolicitado {
  flex: auto;
  width: 0px;
}

.divFechas {
  flex: auto;
  width: 405px;
}

.divCP {
  flex: auto;
  width: 250px;
}

.divEstado {
  flex: auto;
  width: 250px;
}

.divD {
  flex: auto;
  width: 290px;
}


.divCiudad {
  flex: auto;
  width: 250px;
}

.divColonia {
  flex: auto;
  width: 250px;
}

.divCalle {
  flex: auto;
  width: 290px;
}

.divNumExt {
  flex: auto;
  width: 250px;
}

.divNumInt {
  flex: auto;
  width: 250px;
}

.divTipoComunidad {
  flex: auto;
  width: 290px;
}

.divTelefonoFijo {
  flex: auto;
  width: 250px;
}

.divTelefonoCelular {
  flex: auto;
  width: 250px;
}

.divEmail {
  flex: auto;
  width: 290px;
}

.divEstadoCivil {
  flex: auto;
  width: 250px;
}

.divOcupacion {
  flex: auto;
  width: 665px;
}


.inputs {
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  margin-top: -4px;
}

.inputs3 {
  height: 60px;
  width: 500px;
  left: 10px;
  top: 235px;
  border-radius: 5px;

}

.tituloInput {
  /* width: 270px;
    height: 17px; */
  /* margin: 14.5px 711px 10px 10px; */
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  /* margin-top: 5px;
    margin-left: 10px; */
}

.form-control {
  font-size: 14px !important;
}

.selectnuevoEstudio {

  width: 100%;
  height: 30px;
  flex-grow: 0;
  margin: 0px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #ddd;
  background-color: #fff;

}


select {

  width: 100%;
  height: 30px;
  flex-grow: 0;
  margin: -4px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #ddd;
  background-color: #fff;

}


.buttonL {
  width: 120px;
  height: 34px;
  border-radius: 3px;
  margin: 10px 15px 0 10px !important;
  padding: 5px;
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 200%;
}


/* -----------------------------------------modal----------------------------------------- */

.modal-header{
  background-color: #fff;
  color:#fff;
}

.modal-content{
  margin: auto;
  width: 496px;
}

.line62{
  height: 0.15px;
  background-color: #CCCCCC;
  width: 494px;
}

.tituloModal {
  width: 358px;
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
