<app-menu></app-menu>
<app-card-template>
  <div header class="flex justify-content-between align-items-center">
    <div class="col-md-1">
      <img class="botonRegresar" src="../../../assets/hu003-tarjeta/volver (1).ico" alt="" />
    </div>
    <div style="display: grid">
      <span class="pacienteNombreSpan">{{
        "Nueva crónica grupal específica"
        }}</span>
    </div>
    <div class="Rectangle-1205"></div>
    <div style="display: grid">
      <span class="tituloDosSpam">{{
        "Miércoles 1 de marzo de 2020 12:13:01"
        }}</span>
    </div>
    <div class="Rectangle-1205"></div>
    <div style="display: grid">
      <span class="tituloDosSpam">{{ "Tour quirúrgico" }}</span>
    </div>
  </div>
  <div content>
    <div style="margin-top: 10px;margin-bottom: 10px; margin-left: 16px;">
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
    </div>
    <div class="container seccion">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6">
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Ponente:
            </label>
            <label class="texto"> Dra Amellaly Cruz Hernández </label>

            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Tecnica didactica:
            </label>
            <label class="texto"> Ingresa tecnica didactica </label>
          </div>
        </div>


        <div class="col-md-6">
          <div class="col-md-6">
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Numero de asistentes:
            </label>
            <label class="texto"> 5 </label>
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Material de apoyo:
            </label>
            <label class="texto"> Laptop y proyector </label>
          </div>
        </div>
      </div>
    </div>

    <div class="container seccion">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6">
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Objetivos de la sesión:
            </label>
            <label class="texto"> Dra Amellaly Cruz Hernández </label>

            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Perfil del grupo:
            </label>
            <label class="texto"> Ingresa tecnica didactica </label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-6">
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Desarrollo de la sesión:
            </label>
            <label class="texto"> Dra Amellaly Cruz Hernández </label>

            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Observaciones:
            </label>
            <label class="texto"> Ingresa tecnica didactica </label>
          </div>
        </div>
      </div>
    </div>

    <div class="container seccion">
      <div class="row">
        <div class="col-md-8">
          <label class="control-label texto">Total de participantes <span style="font-weight: bold;">{{5}}</span></label>

          <table class="table texto" style="margin-bottom: 0px !important;">
            <thead>
              <tr>
                <th style="background-color: #ddd;">Participantes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Participante 1</td>
              </tr>
              <tr>
                <td>Participante 2</td>
              </tr>
              <tr>
                <td>Participante 3</td>
              </tr>
              <tr>
                <td>Participante 4</td>
              </tr>
              <tr>
                <td>Participante 5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="padding-top: 19px; padding-right: 24px;">
        <button type="button" class="btn btn-primary buttonL" style="float: right">Imprimir</button>
      </div>
    </div>
  </div>
</app-card-template>