.Bg {
  height: 218px;
  flex-grow: 0;
  background-color: #10312b;
  display: grid;
  place-content: center;

}

.Rectangle-855 {

  /* width: 1181PX; */

  width: 1220PX;
  height: 665px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
}

.Rectangle-929 {
  width: 1216px;
  height: 68px;
  margin: 0 0 1px;
  padding: 19px 89px 2px 42px;
  border-bottom: solid 1px #e6e6e6;
  margin-left: -32px;
}

.titulo {
  width: 358px;
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  margin-left: -29px;
}

.instrucciones {
  width: 270px;
  height: 17px;
  margin: 14.5px 711px 10px 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  margin-top: 5px;
  margin-left: 10px;
}

.seccion {

  width: 96%;
  border-radius: 15px;
  border: solid 1px #e6e6e6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-bottom: 10px;


}

.spanInput {
  width: 275px;
  height: 20px;
  flex-grow: 0;
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;

}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {

  width: 100%;
  height: 30px;
  flex-grow: 0;
  margin: 0px 0 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #ddd;
  background-color: #fff;

}

i {
  width: 13px;
  height: 13px;
  border-left: 2px solid #9f2241;
  border-bottom: 2px solid #9f2241;
  transform: rotate(-45deg);
  float: right;
  position: absolute;
  top: 31px;
  right: 32px;
}

select::-ms-expand {
  display: none;
}

.select-css option {
  font-weight: normal;
  padding-left: 10px;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  height: 30px;
}

.buttonL {

  width: 120px;
  height: 34px;
  border-radius: 3px;
  margin: 10px 15px 0 10px !important;
  padding: 5px;
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;


}

input,
textarea,
select {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.botonRegresar{
    width: 37px;
    height: 34px;
    margin: 0 15px 0 0;
    object-fit: contain;
}

.titulo2{
  /* width: 269px; */
  width: 358px;
  /* height: 29px; */
  /* margin: 0 897px 69px 1px; */
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222;
}

.texto{
  width: 187%;
  height: 40px;
  flex-grow: 0;
  margin: 2px 0 0 7px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #545454;

}



.container {
  margin-bottom: 25px;
}


.tituloDosSpam{
  font-size: 16px;
  color:#222222;
  font-weight: 600;
}



.pacienteNombreSpan {
  width: 320px;
  height: 27px;
  flex-grow: 0;
  margin: 4px 0 0 0px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.container {
  margin-bottom: 25px;
}

.hrCronica{
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%,100);
  height: 2.0vh;
  width: 0.1%;
  margin-top: 0.6%;
  margin-left: 20px;
  text-align: left;
  background-color: #000000;
}

.hrCronicaServicio{
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%,100);
  height: 2.0vh;
  width: 0.1%;
  margin-top: 0.6%;
  margin-left: -60px;
  text-align: left;
  background-color: #000000;
}


.formInfo{
  margin-left: -22px;
    margin-right: -22px;
}

.tabla>tbody>tr>td,
.tabla>tbody>tr>th,
.tabla>tfoot>tr>td,
.tabla>tfoot>tr>th,
.tabla>thead>tr>td,
.tabla>thead>tr>th {
    padding: 1px;
    /* line-height: 1.428571429; */
    /* vertical-align: top; */
    border-top: 1px solid #ddd

}

.table-gral {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border-collapse: collapse;
  border-bottom: 0 solid #dee2e6;
  width: 96%;
}
