<div
  class="row"
  style="height: 900px; place-content: center; background-color: #f8f8f8"
>
  <div class="Bg">
    <app-menu></app-menu>
  </div>

  <div
    class="col Rectangle-855"
    style="border-bottom-right-radius: 1em; border-bottom-left-radius: 1em"
  >
    <div class="Rectangle-929 row">
      <div class="col-md-1">
        <img
          class="botonRegresar"
          src="../../../assets/hu003-tarjeta/volver (1).ico"
          alt=""
        />
      </div>

      <div class="titulo col-md-5">Nueva cronicanica grupal</div>
      <div class="titulo col-md-6"></div>
    </div>

    <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 16px">
      <!-- <span class="instrucciones">
            Por favor capture los siguientes datos:
        </span> -->
    </div>
    <form role="form">
      <div class="container seccion">
        <div class="row"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-6">
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Grupo
            </label>
            <label class="texto"> Tour quirúrgico </label>
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Ponente
            </label>
            <label class="texto"> Dra Amellaly Cruz Hernández </label>
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Tecnica didactica
            </label>
            <label class="texto"> Ingresa tecnica didactica </label>
            </div>
            <div class="col-md-6">
              <label class="titulo2" style="font-weight: bold; font-size: 16px">
                Fecha
              </label>
              <label class="texto"> 20/06/1996 </label>
              <label class="titulo2" style="font-weight: bold; font-size: 16px">
              </label>
              <label class="texto">  </label>
              <label class="titulo2" style="font-weight: bold; font-size: 16px">
              </label>
              <label class="texto">  </label>
              </div>
          </div>


          <div class="col-md-6">
            <div class="col-md-6">
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
            </label>
            <label class="texto">  </label>
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Numero de asistemntes
            </label>
            <label class="texto"> 5 </label>
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
              Material de apollo
            </label>
            <label class="texto"> Laptop y proyector </label>
          </div>
          <div class="col-md-6">
            <label class="titulo2" style="font-weight: bold; font-size: 16px">Hora
            </label>
            <label class="texto"> 13:30:24 </label>
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
            </label>
            <label class="texto"> </label>
            <label class="titulo2" style="font-weight: bold; font-size: 16px">
            </label>
            <label class="texto">  </label>
          </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-6">
            <span class="spanInput">T&eacute;cnica did&aacute;ctica*:</span>
            <input
              class="form-control matricula inputs"
              id="txtconsulta"
              placeholder="Ingresar t&eacute;cnica did&aacute;ctica"
              type="text"
            />
          </div>
          <div class="col-md-6">
            <span class="spanInput">Material apoyo*:</span>

            <input
              class="form-control matricula inputs"
              id="txtconsulta"
              placeholder="Ingresar material apoyo"
              type="text"
            />
          </div>
        </div> -->
      </div>



      <div class="container seccion">
        <div class="row">
          <div class="col-md-6">
            <label style="font-weight: bold;font-size: 16px;">
              Objetivos de la sesión
              </label>
          </div>
          <div class="col-md-6">
            <label style="font-weight: bold;font-size: 16px;">
              Perfil del grupo
              </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </form>




    <div class="row">
      <div class="col-md-6" style="padding-left: 32px">
        <div class="col">
          <span class="instrucciones"> *Campos obligatorios: </span>
          <button
            style="width: 170px"
            type="button"
            class="btn btn-primary buttonL"
          >
            Agregar participante
          </button>
        </div>
      </div>

      <div class="col-md-6" style="padding-top: 19px; padding-right: 24px">
        <button
          type="button"
          class="btn btn-primary buttonL"
          style="float: right"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-danger buttonL"
          style="float: right"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
