.Bg {
    height: 218px;
    flex-grow: 0;
    background-color: #10312b;
    display: grid;
    place-content: center;

}


.Rectangle-855 {

    width: 1181PX;
    height: 145px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#busqueda {

    display: flex;
    margin-top: -26px;
}

.polig {
    width: 492px;
    margin-right: 0px;
    display: flex;
    margin-left: 688px;
}

#paralelograma {
    width: 250px;
    height: 107px;
    -webkit-transform: skew(24deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #f8f8fa;
    position: absolute;
    z-index: 2;
    border-top-right-radius: 78px;
    margin-left: 115px;

}

#paralelograma2 {
    width: 291px;
    height: 107px;
    -webkit-transform: skew(56deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #f8f8fa;
    position: absolute;
    z-index: 2;
    border-top-right-radius: 78px;
    margin-left: -22px;
}

.Ellipse-61 {
    width: 243.9px;
    height: 107px;
    flex-grow: 0;
    margin: 0px 0px 0px 248px;
    opacity: 0.5;
    background-color: #d2e4ff;
    float: right;
    display: flex;
    border-top-right-radius: 15px;
    position: absolute;
    z-index: 1;

}

.pacienteInfoDiv {
    width: 975px;
    height: 71px;
    z-index: 4;
    display: flex;
    margin-left: 15px;
    position: absolute;
}

.pacienteSpan {

    height: 15px;
    flex-grow: 0;
    margin: 15px 0 0 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: left;
    color: #bc955c;
}

.pacienteNombreSpan {
    width: 350px;
    height: 27px;
    flex-grow: 0;
    margin: 4px 0 0 0px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.Rectangle-1205 {
    width: 0px;
    height: 27px;
    margin: 37px 10px 0 11px;
    border: solid 1px #f5f7f8;
    background-color: #fff;
}

.Rectangle-12052 {
    width: 0px;
    height: 53px;
    margin: 10px 10px 0 11px;
    border: solid 1px #f5f7f8;
    background-color: #fff;
}

.unidadSpan {

    height: 15px;
    flex-grow: 0;
    margin: 15px 0 0 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: left;
    color: #95a4b7;

}

.divDetallePaciente {
    width: 1180px;
    height: 71px;
    margin-top: 73px;
    margin-right: 0px;
    margin-left: 0px;
    background: white;
    z-index: 6;
    position: absolute;
    display: flex;
    border-top-color: rgb(245, 247, 248);
    border-top-style: solid;
    border-top-width: 1px;

}

.divAmarillo {

    width: 73px;
    height: 70px;
    flex-grow: 0;
    padding: 4px 0px 0px px;
    background-color: #ffe8a7;

}

.pacienteDetalleDiv {
    height: 71px;
    z-index: 4;
    display: flex;
    margin-left: 84px;
    position: absolute;

}

.detalleDescrip {
    flex-grow: 0;
    margin: -12px 0 0 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}
.divMenuHamburg{

    width: 73px;
    height: 70px;
    flex-grow: 0;
    
}