 <!-- <div class="Bg"> -->


  <app-menu></app-menu>
<!-- </div> -->


<div class="Rectangle-855">

    <div class="row" style="display: contents;">

        <div class="pacienteInfoDiv">

            <div style="display: grid;">
                <span class="pacienteSpan">Paciente</span>
                <span class="pacienteNombreSpan">{{paciente.paciente}}</span>

            </div>

            <div class="Rectangle-1205"></div>

            <div style="display: grid;">
                <span class="unidadSpan">Unidad de Adscripción</span>
                <span class="pacienteNombreSpan">UMF {{paciente.unidadMedica}}</span>
            </div>
        </div>
        <div class="polig">
            <div class="figura1">
                <div id="paralelograma2"></div>
                <div id="paralelograma"></div>
            </div>
            <div class="Ellipse-61"> </div>
        </div>
    </div>

    <div class="row divDetallePaciente">

        <div class="divAmarillo">
            <img src=".\assets\hu003-tarjeta/icono-amarillo.png" class="divMenuHamburg">
        </div>

        <div class="pacienteDetalleDiv">

            <div style="display: grid; width: 170px;">
                <span class="unidadSpan" style="margin-left: 12px;">Fecha de nacimiento</span>
                <span class="detalleDescrip" style="margin-left: 12px;">{{paciente.fechaNacimiento}}</span>

            </div>

            <div class="Rectangle-12052"></div>

            <div style="display: grid;  width: 65px;">
                <span class="unidadSpan">Edad</span>
                <span class="detalleDescrip">{{paciente.edad}} años</span>
                <!-- <span class="detalleDescrip">{{'3'}}meses</span> -->

            </div>

            <div class="Rectangle-12052"></div>

            <div style="display: grid; width: 83px;">
                <span class="unidadSpan">Sexo</span>
                <span class="detalleDescrip">{{paciente.sexo}}</span>

            </div>

            <div class="Rectangle-12052"></div>

            <div style="display: grid; width: 95px;">
                <span class="unidadSpan">NSS</span>
                <span class="detalleDescrip">{{paciente.nss}}</span>

            </div>

            <div class="Rectangle-12052"></div>

            <div style="display: grid;  width: 83px;">
                <span class="unidadSpan">A. M&eacute;dico</span>
                <span class="detalleDescrip">{{paciente.agregadoMedico}}</span>

            </div>

            <div class="Rectangle-12052"></div>

            <div style="display: grid; width: 188px;">
                <span class="unidadSpan">CURP</span>
                <span class="detalleDescrip">{{paciente.curp}}</span>

            </div>

            <div class="Rectangle-12052"></div>

            <div style="display: grid; width: 84px;">
                <span class="unidadSpan">Consultorio</span>
                <span class="detalleDescrip">{{paciente.consultorio}}</span>

            </div>

            <div class="Rectangle-12052"></div>

            <div style="display: grid; width: 60px;">
                <span class="unidadSpan">Turno</span>
                <span class="detalleDescrip">{{paciente.turno}}</span>
            </div>

            <div class="divMenuHamburg">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img src=".\assets\hu003-tarjeta/menu-ts.png" class="divMenuHamburg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel2">
                    <li style="font-weight: bold;">
                        <div style="width: 90%; margin-left: 18px; border-bottom: solid 1px #f5f7f8;">Menú</div>
                    </li>
                    <li style="cursor: pointer;"><a>Agenda</a></li>
                    <li style="cursor: pointer;"><a>Notas de trabajo social médico</a></li>
                    <li style="cursor: pointer;"><a>Estudio social médico</a></li>
                    <li style="cursor: pointer;"><a>Control de artículos</a></li>
                    <li style="cursor: pointer;"><a>Donación de sangre</a></li>
                    <li style="cursor: pointer;"><a>Ministerio público</a></li>
                    <li style="cursor: pointer;"><a>Certificado de defunción</a></li>
                </ul>
            </div>
        </div>
    </div>
  </div>


<div style="margin-bottom: 1%;">
</div>
  <!-- <app-consulta-lista-notas-tsocial></app-consulta-lista-notas-tsocial> -->
