<div
  class="row"
  style="height: 900px; place-content: center; background-color: #f8f8f8"
>
  <div class="Bg">
    <app-menu></app-menu>
  </div>

  <div class="Rectangle-855" style=" box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);">
    <div class="row" style="display: contents">
      <div class="pacienteInfoDiv">
        <div style="display: grid">
          <span class="pacienteSpan"></span>
          <span class="pacienteNombreSpan">{{
            "Consulta cronica grupal"
          }}</span>
        </div>
        <div class="Rectangle-1205"></div>
        <div style="display: grid">
          <span class="unidadSpan"></span>
          <span class="tituloDosSpam">{{
            "Miercoles 1 de marzo de 2020 12:13:01"
          }}</span>
        </div>
        <div class="Rectangle-1205"></div>
        <div style="display: grid">
          <span class="unidadSpan"></span>
          <span class="tituloDosSpam">{{ "Tour quirúrgico" }}</span>
        </div>
      </div>

      <div class="polig">

      </div>
    </div>

    <div class="row divDetallePaciente">
      <div style="display: grid; width: 89px">
        <div class="divAmarillo" >
          <img style="width: 75px;   box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);"  src=".\assets\hu003-tarjeta/cronicaGrupal2.ico"
          class="divMenuHamburg">
      </div>

      </div>

      <div class="pacienteDetalleDiv">
        <div style="display: grid; width: 90px;  margin-left: 10px;">
          <span class="unidadSpan">Urologia</span>
          <span class="detalleDescrip">{{ "servicio" }}</span>
        </div>

        <div class="Rectangle-12052"></div>

        <div style="display: grid; width: 123px">
          <span class="unidadSpan">Tour quirúrgico</span>
          <span class="detalleDescrip">{{ "Lugar" }}</span>
        </div>

        <div class="Rectangle-12052"></div>

        <div style="display: grid; width: 95px">
          <span class="unidadSpan">Auditorio</span>
          <span class="detalleDescrip">{{ "Modalidad" }}</span>
        </div>

        <div class="Rectangle-12052"></div>

        <div style="display: grid; width: 83px">
          <span class="unidadSpan">presencial</span>
          <span class="detalleDescrip">{{ "Ponentes" }}</span>
        </div>

        <div class="Rectangle-12052"></div>

        <div style="display: grid; width: 290px">
          <span class="unidadSpan">DR. Jorge Daniel campos flores </span>
          <span class="detalleDescrip">{{ "Estatus" }}</span>
        </div>

        <div class="Rectangle-12052"></div>

        <div style="display: grid; width: 134px">
          <span class="unidadSpan">No impartida</span>
          <span class="detalleDescrip">{{ "Estatus" }}</span>
        </div>
        <div style="display: grid; width: 184px">
          <span class="unidadSpan">15</span>
          <span class="detalleDescrip">{{ "Numero de Participantes" }}</span>
        </div>
      </div>
    </div>

    <div class="Rectangle-306" style="background-color: white">
      <div class="Texto-arriba" style="background-color: white">
      <div class="Texto-derecha" style="background-color: white">
        <label style="font-weight: bold;font-size: 16px;">
          Este es un titulo de prueba
          </label>
        <label class="textoCuatro">
          Google Noticias es un agregador y buscador de noticias automatizado
          que rastrea de forma constante la información
        </label>
        <br>
        <br>

        <label style="font-weight: bold;font-size: 16px;">
          Este es un titulo de prueba
          </label>
        <label class="textoCuatro">
          Google Noticias es un agregador y buscador de noticias automatizado
          que rastrea de forma constante la información de los principales
          medios de comunicación en línea. El sitio web de
        </label>
        <br>
        <br>

        <label style="font-weight: bold;font-size: 16px;">
          Este es un titulo de prueba
          </label>
        <label class="textoCuatro">
          Google News, elaborado por Google, se actualiza cada 15 minutos y fue
          lanzado en versión beta en abril de 2002.
        </label>
        <br>
        <br>

      </div>

      <div class="Texto-izquierda" style="background-color: white">
        <label style="font-weight: bold;font-size: 16px;">
          Este es un titulo de prueba
          </label>
        <label class="textoCuatro">    Google Noticias es un agregador y buscador de noticias automatizado
          que rastrea de forma constante la información </label>
          <br>
          <br>
          <label style="font-weight: bold;font-size: 16px;">
            Este es un titulo de prueba
            </label>
        <label class="textoCuatro" style="z-index: 100;">
          Google Noticias es un agregador y buscador de noticias automatizado
          que rastrea de forma constante la información
        </label>
      </div>
</div>
      <div class="Texto-abajo" style="background-color: white">
        <div class="row">
         <div class="col-md-7" ></div>

         <div class="col-md-2">
           <button style="    width: 188px;    height: 44px; margin-left: 18%;
           margin-top: -15px;" type="button" class="btn btn-danger">Error</button>
          </div>
          <div class="col-md-2">
            <button style="width: 188px;    height: 44px; margin-left: 18%;
            margin-top: -15px;" type="button" class="btn btn-primary">Primario</button>
          </div>
          </div>
      </div>
    </div>

  </div>
</div>
