
<div class="bg">
  <app-menu></app-menu>
  </div>

<app-card-template style=" width: 1217px;
height: 654px;">
  <div header class="flex justify-content-between row">
    <div class="col-md-5">
      <div style="display: grid; text-align: left;">
        <span class="pacienteNombreSpan">{{
          "Consulta cronica grupal"
        }}</span>
      </div>
    </div>
    <hr class="hrCronicaFecha" />
    <div class="col-md-4 border border-dark">
      <div style="display: grid">
        <span class="tituloDosFechaSpam">{{
          "Miércoles 1 de marzo de 2020 12:13:01"
        }}</span>
      </div>
    </div>
    <hr class="hrCronicaServicio" />
    <div class="col-md-3">
      <div style="display: grid; text-align: left; margin-left: 4%;">
        <span class="tituloDosSpam">{{ "Tour quirúrgico" }}</span>
      </div>
    </div>
  </div>

  <div subHeader class="flex justify-content-between align-items-center subHeader" style="margin-top: -30;">
    <div style="width: 7%">
      <div class="divAmarillo">
        <img style="width: 75px;   box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);"
          src=".\assets\hu003-tarjeta/cronicaGrupal2.ico" class="divMenuHamburg">
      </div>
    </div>

    <div class="pacienteDetalleDiv">
      <div style="display: grid; width: 90px;  margin-left: 10px;">
        <span class="unidadSpan">Urología</span>
        <span class="detalleDescrip">{{ "servicio" }}</span>
      </div>

      <div class="Rectangle-12052"></div>

      <div style="display: grid; width: 123px">
        <span class="unidadSpan">Tour quirúrgico</span>
        <span class="detalleDescrip">{{ "Lugar" }}</span>
      </div>

      <div class="Rectangle-12052"></div>

      <div style="display: grid; width: 95px">
        <span class="unidadSpan">Auditorio</span>
        <span class="detalleDescrip">{{ "Modalidad" }}</span>
      </div>

      <div class="Rectangle-12052"></div>

      <div style="display: grid; width: 83px">
        <span class="unidadSpan">presencial</span>
        <span class="detalleDescrip">{{ "Ponentes" }}</span>
      </div>

      <div class="Rectangle-12052"></div>

      <div style="display: grid; width: 290px">
        <span class="unidadSpan">DR. Jorge Daniel campos flores </span>
        <span class="detalleDescrip">{{ "Estatus" }}</span>
      </div>

      <div class="Rectangle-12052"></div>

      <div style="display: grid; width: 134px">
        <span class="unidadSpan">No impartida</span>
        <span class="detalleDescrip">{{ "Estatus" }}</span>
      </div>
      <div style="display: grid; width: 184px">
        <span class="unidadSpan">15</span>
        <span class="detalleDescrip">{{ "Numero de Participantes" }}</span>
      </div>
    </div>
  </div>

  <div content>
    <div class="Rectangle-306" style="background-color: white">
      <div class="Texto-arriba" style="background-color: white">
        <div class="Texto-derecha" style="background-color: white">
          <label style="font-weight: bold;font-size: 16px;">
            Técnica Didáctica:
          </label>
          <label class="textoCuatro">
            Google Noticias es un agregador y buscador de noticias automatizado
            que rastrea de forma constante la información
          </label>
          <br>
          <br>

          <label style="font-weight: bold;font-size: 16px;">
            Objetivos de la sesión:
          </label>
          <label class="textoCuatro">
            Google Noticias es un agregador y buscador de noticias automatizado
            que rastrea de forma constante la información de los principales
            medios de comunicación en línea. El sitio web de
          </label>
          <br>
          <br>

          <label style="font-weight: bold;font-size: 16px;">
            Perfil del grupo:
          </label>
          <label class="textoCuatro">
            Google News, elaborado por Google, se actualiza cada 15 minutos y fue
            lanzado en versión beta en abril de 2002.
          </label>
          <br>
          <br>

        </div>

        <div class="Texto-izquierda" style="background-color: white">
          <label style="font-weight: bold;font-size: 16px;">
            Desarrollo de la sesión:
          </label>
          <label class="textoCuatro"> Google Noticias es un agregador y buscador de noticias automatizado
            que rastrea de forma constante la información </label>
          <br>
          <br>
          <label style="font-weight: bold;font-size: 16px;">
            Observaciones:
          </label>
          <label class="textoCuatro" style="z-index: 100;">
            Google Noticias es un agregador y buscador de noticias automatizado
            que rastrea de forma constante la información
          </label>
        </div>
      </div>

      <div class="botones">
        <button class="btn btn-danger btuser buttonL" style="border: solid 1px #b38e5d;">Cancelar</button>
        <button class="btn btn-primary btuser buttonL" style="border: solid 1px #9d2449;">Imprimir</button>
      </div>

    </div>
  </div>
</app-card-template>

<app-info-bottom></app-info-bottom>
