<app-menu></app-menu>
<app-card-template>
  <div header class="flex justify-content-between align-items-center consultaCronicasGrupales">
    <h4 class="title">Consulta de crónicas grupales</h4>
    <button class="btn btn-primary btn-sm pull-right" type="button" (click)="addCronica();">
      Nueva crónica
    </button>
  </div>
  <div content>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label tituloServicio">
            Servicio:
          </label>
          <select class="form-control" style="background-position-y: 10px;" aria-label="Servicio"
            [(ngModel)]="this.servicioSelected" (change)="onChangeServicio($event)">
            <option [value]="'-1'" selected>Seleccionar servicio</option>
            <option [value]="servicio.cve_especialidad" *ngFor="let servicio of serviciosEspecialidad">
              {{ servicio.des_especialidad}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label tituloServicio">
            Turno:
          </label>
          <select style="background-position-y: 10px;" class="form-control" aria-label="Servicio"
            [(ngModel)]="this.turnoSelected" (change)="onChangeTurno($event)">
            <option [value]="'-1'" selected>Seleccionar turno</option>
            <option [value]="turno.cve_turno" *ngFor="let turno of turnos">{{ turno.des_turno}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label tituloServicio">
            Grupo:
          </label>
          <select style="background-position-y: 10px;" class="form-control" aria-label="Servicio"
            [(ngModel)]="this.grupoSelected" (change)="onChangeGrupo($event)">
            <option [value]="'-1'" selected>Seleccionar grupo</option>
            <option [value]="grupo.cve_grupo_programa" *ngFor="let grupo of grupos">{{ grupo.des_grupo_programa }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">
            Lugar:
          </label>
          <select class="form-control" style="background-position-y: 10px;" aria-label="Servicio"
            [(ngModel)]="this.lugarSelected" (change)="onChangeLugar($event)">
            <option [value]="'-1'" style="background-position-y: 10px;" selected>Seleccionar grupo</option>
            <option [value]="lugar.cve_ubicacion" *ngFor="let lugar of lugares">{{ lugar.des_completa_ubicacion }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group datepicker-group">
          <label class="control-label" for="calendar">Fecha:</label>
          <input calendar class="form-control" id="calendar" type="text" placeholder="dd/mm/aaaa" (blur)="onChangeFecha();">
          <span class="glyphicon glyphicon-calendar fondocalendar"  aria-hidden="true">
            <div class="imgCalendar"></div>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label ">
            Cronica específica asociada:
          </label>
          <div class="radio flex align-items-center">
            <label class="inline-flex align-items-center relative mr-5">
              <input type="radio" name="radio-01" value="Si" [(ngModel)]="radioBtnSelected"
                (change)="onChangeRadioBoton($event)" class="radio-consulta" checked="checked"> Sí
            </label>
            <label class="inline-flex align-items-center ml-5 relative ">
              <input type="radio" name="radio-01" value="No" [(ngModel)]="radioBtnSelected"
                (change)="onChangeRadioBoton($event)" class="radio-consulta" checked="checked"> No
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Búsquedas anteriores</label>
      </div>
      <div class="col-md-6 flex justify-content-end">
        <div class="form-group">
          <label class="control-label">Visualizar datos</label>
          <select class="form-select ml-5 select-view-data">
            <option [ngValue]="15">15</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="25">25</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr >
              <th class="encabezadoTable">Fecha</th>
              <th class="encabezadoTable">Grupo</th>
              <th class="encabezadoTable">Hora</th>
              <th class="encabezadoTable">Modalidad</th>
              <th class="encabezadoTable">Total participantes</th>
              <th class="encabezadoTable">Participantes que asistieron</th>
              <th class="encabezadoTable">Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cronicasGrupales">
              <td class="bordesTabla" style="text-decoration: none !important; color: #4D92DF!important; text-decoration: none !important;" (click)="irDetalle(item);">{{ item.fecFechaCorta }}</td>
              <td class="bordesTabla">{{ item.desGrupo }}</td>
              <td class="bordesTabla">{{ item.timHora }}</td>
              <td class="bordesTabla">{{ item.desModalidad }}</td>
              <td class="bordesTabla">{{ item.numTotalParticipantes }}</td>
              <td class="bordesTabla">{{ item.numParticipantesAsistieron }}</td>
              <td class="bordesTabla">{{ catalogoEstatus[item.idEstatusCronica] }}</td>
            </tr>
            <!-- <tr>
              <td class="bordesTabla" style="text-decoration: none !important; color: #4D92DF!important; text-decoration: none !important;" (click)="irDetalle();"><a>24/01/2022</a></td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
            </tr>
            <tr>
              <td  class="bordesTabla"(click)="irDetalle();"><a>24/01/2022</a></td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
            </tr>
            <tr>
              <td  class="bordesTabla"(click)="irDetalle();"><a>24/01/2022</a></td>
              <td class="bordesTabla"> Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
            </tr>
            <tr>
              <td  class="bordesTabla"(click)="irDetalle();"><a>24/01/2022</a></td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
            </tr>
            <tr>
              <td  class="bordesTabla" (click)="irDetalle();"><a>24/01/2022</a></td>
              <td class="bordesTabla">Mark</td>
              <td class="bordesTabla">Otto</td>
              <td class="bordesTabla">@mdo</td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
            </tr>
            <tr>
              <td  class="bordesTabla"(click)="irDetalle();"><a>24/01/2022</a></td>
              <td class="bordesTabla">Mark</td>
              <td class="bordesTabla">Otto</td>
              <td class="bordesTabla">@mdo</td>
              <td class="bordesTabla">Mark</td>
              <td class="bordesTabla">Otto</td>
              <td class="bordesTabla">@mdo</td>
            </tr>
            <tr>
              <td class="bordesTabla"  (click)="irDetalle();"><a>24/01/2022</a></td>
              <td class="bordesTabla">Mark</td>
              <td class="bordesTabla">Otto</td>
              <td class="bordesTabla">@mdo</td>
              <td class="bordesTabla">Jacob</td>
              <td class="bordesTabla">Thornton</td>
              <td class="bordesTabla">@fat</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
     <div class="row">

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <ul class="pagination ">
          <li><a>&laquo;</a></li>
          <li><a>1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a>&raquo;</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="flex justify-content-between align-items-center" style="float: right;">
          <div class="flex align-items-center justify-content-end">
            <label class="control-label">Página</label>
            <div class="form-control w-3 ml-2">
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</app-card-template>
