:host {
    font-family: 'Montserrat';
}

.control-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #272829;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.radio-consulta{
    top: 50%;
    margin: 0 !important;
    left: 0;
    margin:0;
    transform: translate(0, -40%);
}

td,th{
    font-size: 14px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #FFF;
    background-color: #9D2449;
    border-color: #ddd;
    border-radius: 50%;
}

.pagination a {
    border: none;
}

a {
    cursor: pointer;
}

.botonRojo{
  font-family: Montserrat;
  font-size: 14px;
  width: 100px;
  height: 17px;
  font-family: Montserrat;
  border-radius: 1.8px !important;
  border: solid 1px #9d2449;
}

.consultaCronicasGrupales{
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.tituloServicio{
  color: #272829;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272829;
  width: 131.7px;
  height: 17px;
  margin: 0 242.5px 4px 0;
  font-family: Montserrat;
}

.fondocalendar{
  background-color: #eeeeee;

  transform: translateY(-8%);
  background-size: 10px 12px;

  background-repeat: no-repeat;

  margin: 1.6px 1px 3px 18.2px;
  padding: 0 20.2px 0 18.2px;
  height: 37px;
}

.imgCalendar{
  background-image: url("../../../assets/images/calendar.png");
  background-repeat: no-repeat;
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-49%);
  background-size: 20px 19px;
}

.datepicker-group .glyphicon {
  color: #EEEEEE !important;
}

.encabezadoTable{
width: auto;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-spacing: 0; background-color: rgba(196, 196, 196, 0.1);
  padding: 4px !important;
}

.bordesTabla{
  width: auto;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ddd;
  border-spacing: 0;
}

.links{
  margin: 8px 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4d92df ;
text-decoration: none;
}

.form-control {
  font-size: 14px !important;
}
