:host {
    font-family: 'Montserrat';
}

.control-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #272829;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.radio-consulta{
    top: 50%;
    margin: 0 !important;
    left: 0; 
    margin:0;
    transform: translate(0, -40%);
}

td,th{
    font-size: 14px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #FFF;
    background-color: #9D2449;
    border-color: #ddd;
    border-radius: 50%;
}

.pagination a {
    border: none;
}