<app-header-menu></app-header-menu>
<app-app-tarjeta-presentacion></app-app-tarjeta-presentacion>

<div *ngIf="alertVisible">
  <div class="alert alert-dismissible alertCompl" [ngClass]="alertTipo">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div [innerHTML]="alertMensaje"></div>
  </div>
</div>
<!-- <app-menu></app-menu> -->
<div style="margin-bottom: 1%"></div>
<!-- <app-app-tarjeta-presentacion></app-app-tarjeta-presentacion> -->
<app-card-template>
  <div header class="flex justify-content-between row">
    <div class="col-md-12">
      <div style="display: grid; text-align: left">
        <span class="nuevaNotaTrabajoSocial">{{
          "Nueva nota de trabajo social"
        }}</span>
      </div>
    </div>
  </div>

  <div content>
    <div>
      <span class="instrucciones">
        Por favor capture los siguientes datos:
      </span>
    </div>
    <form novalidate class="formInfo" [formGroup]="camposNota">
      <div class="container seccion">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Tipo de nota*:</span>
              <select
                class="form-control"
                [ngClass]="{
                  'form-control-error':
                    camposNota.controls?.tipoDeNota?.dirty &&
                    camposNota.controls?.tipoDeNota?.errors
                }"
                formControlName="tipoDeNota"
                id="tipoDeNota"
                style="background-position-y: 5px"
                aria-label="Servicio"
              >
                <option class="select-font">
                  {{ "Ingresar Tipo de nota" }}
                </option>
                <option class="select-font">
                  {{ "" }}
                </option>
              </select>
              <small
                *ngIf="
                  camposNota.controls?.tipoDeNota?.dirty &&
                  camposNota.controls?.tipoDeNota?.errors
                "
                class="form-text form-text-error Campo-obligatorio"
              >
                Campo obligatorios
              </small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput"
                >Red de apoyo con la que cuenta el paciente*:</span
              >
              <select
                [ngClass]="{
                  'form-control-error':
                    camposNota.controls?.redDeApoyo?.dirty &&
                    camposNota.controls?.redDeApoyo?.errors
                }"
                class="form-control"
                formControlName="redDeApoyo"
                id="redDeApoyo"
                style="background-position-y: 5px"
                aria-label="Servicio"
              >
                <option class="select-font">
                  {{ " Seleccionar red de apoyo" }}
                </option>

                <option class="select-font">
                  {{ "" }}
                </option>
                <option class="select-font">{{ "Ingresar Grupo" }}</option>
              </select>
              <small
                *ngIf="
                  camposNota.controls?.redDeApoyo?.dirty &&
                  camposNota.controls?.redDeApoyo?.errors
                "
                class="form-text form-text-error Campo-obligatorio"
              >
                Campo obligatorios
              </small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <span class="spanInput">Actividad técnica*:</span>
              <select
                [ngClass]="{
                  'form-control-error':
                    camposNota.controls?.actividadTecnica?.dirty &&
                    camposNota.controls?.actividadTecnica?.errors
                }"
                class="form-control"
                id="actividadTecnica"
                formControlName="actividadTecnica"
                style="background-position-y: 5px"
                aria-label="Servicio"
              >
                <option class="select-font">
                  {{ " Seleccionar actividad técnica" }}
                </option>
                <option class="select-font">
                  {{ "" }}
                </option>
                <option class="select-font">
                  {{ "Ingresar Actividad técnica" }}
                </option>
              </select>
              <small
                *ngIf="
                  camposNota.controls?.actividadTecnica?.dirty &&
                  camposNota.controls?.actividadTecnica?.errors
                "
                class="form-text form-text-error Campo-obligatorio"
              >
                Campo obligatorios
              </small>
            </div>
          </div>
          <div class="col-md-12" style="margin-left: -1.1%">
            <div class="col-md-4">
              <div class="form-group">
                <span class="spanInput">Diagnostico médico*:</span>
                <select
                  [ngClass]="{
                    'form-control-error':
                      camposNota.controls?.diagnosticoMedico?.dirty &&
                      camposNota.controls?.diagnosticoMedico?.errors
                  }"
                  class="form-control"
                  id="diagnosticoMedico"
                  formControlName="diagnosticoMedico"
                  style="background-position-y: 5px"
                  aria-label="Servicio"
                >
                  <option class="select-font">
                    {{ " Seleccionar diagnostico médico" }}
                  </option>
                  <option class="select-font">
                    {{ "" }}
                  </option>
                </select>
                <small
                  *ngIf="
                    camposNota.controls?.diagnosticoMedico?.dirty &&
                    camposNota.controls?.diagnosticoMedico?.errors
                  "
                  class="form-text form-text-error Campo-obligatorio"
                >
                  Campo obligatorios
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="separador"></div>
      </div>
      <div class="container seccion">
        <div class="row">
          <div class="col-md-12 form-group">
            <span class="spanInput"
              >Redacción cronológica de la intervención*:</span
            >
            <textarea
              [ngClass]="{
                'form-control-error':
                  camposNota.controls?.redaccionCronologica?.dirty &&
                  camposNota.controls?.redaccionCronologica?.errors
              }"
              class="form-control"
              id="redaccionCronologica"
              placeholder="Ingresar redaci&oacute;n cronol&oacute;gica"
              style="height: 65px"
              formControlName="redaccionCronologica"
              #objetivosRef
              maxlength="4096"
              required
              rows="4"
            >
            </textarea>
            <small
              *ngIf="
                camposNota.controls?.redaccionCronologica?.dirty &&
                camposNota.controls?.redaccionCronologica?.errors
              "
              class="form-text form-text-error Campo-obligatorio"
            >
              Campo obligatorio
            </small>
            <span class="spanCaracteres"
              >{{ objetivosRef.value?.length }} /
              {{ objetivosRef.getAttribute("maxlength") }} caracteres</span
            >
          </div>
          <div class="col-md-12 form-group">
            <span class="spanInput">Diagnostico social*:</span>
            <textarea
              [ngClass]="{
                'form-control-error':
                  camposNota.controls?.diagnosticoSocial?.dirty &&
                  camposNota.controls?.diagnosticoSocial?.errors
              }"
              class="form-control"
              id="diagnosticoSocial"
              placeholder="Ingresar diagnostico social"
              style="height: 65px"
              formControlName="diagnosticoSocial"
              #desarrolloRef
              maxlength="4096"
              rows="4"
            ></textarea>
            <span class="spanCaracteres"
              >{{ desarrolloRef.value?.length }} /
              {{ desarrolloRef.getAttribute("maxlength") }} caracteres</span
            >
            <small
              *ngIf="
                camposNota.controls?.diagnosticoSocial?.dirty &&
                camposNota.controls?.diagnosticoSocial?.errors
              "
              class="form-text form-text-error Campo-obligatorio"
            >
              Campo obligatorio
            </small>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12" style="padding-top: 19px; margin-top: -1.4%">
        <button
          [disabled]="camposNota.valid == false"
          type="button"
          (click)="guardar()"
          class="btn btn-primary buttonL"
          style="float: right; border: solid 1px #9d2449"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-danger buttonL"
          style="float: right; border: solid 1px #b38e5d"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</app-card-template>
<app-info-bottom></app-info-bottom>
