.instrucciones {
  width: 270px;
  height: 17px;
  margin: 14.5px 711px 10px 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  margin-top: 5px;
  margin-left: 10px;
}

.formInfo {
  margin-left: -22px;
  margin-right: -22px;
}

.form-control {
  font-size: 14px !important;
}

.container {
  margin-bottom: 10px;
}

.seccion {
  width: 96%;
  /* border-radius: 15px;
  border: solid 1px #e6e6e6; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5px; */
  padding-bottom: 10px;
}

.separador{
  border-bottom: 1px solid #eeeeee;

}

.spanInput {
  width: 275px;
  height: 20px;
  flex-grow: 0;
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.buttonL {
  width: 120px;
  height: 34px;
  border-radius: 3px;
  margin: 10px 15px 0 10px !important;
  padding: 5px;
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 200%;
}

.alertCompl {
  border-radius: 8px;
  width: 539px;
  position: absolute;
  margin-left: 336px;
  margin-right: auto;
  margin-top: 2px;
  z-index: 4;
  box-shadow: 3px 3px 3px #80808061;
  padding: 4px 24px !important;
  font-size: 15px;
}

.Atencin {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  color: #222222;
}



.modal-content .line62{
  left: 0.4%;
  right: 0%;
  top: 32%;
  bottom: 56.72%;
  border: 1px solid #CCCCCC;
  transform: matrix(1, 0, 0, 1, 0, 0);
  height: 0.5px;
  width: 494px;
  left: 2px;
  top: 106px;
  border-radius: 10px;
}



.modal-header{
  background-color: #fff;
  color:#fff;
}

.modal-content{
  margin: auto;
  width: 496px;
}