.instrucciones {
  width: 270px;
  height: 17px;
  margin: 14.5px 711px 10px 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  margin-top: 5px;
  margin-left: 10px;
}

.formInfo {
  margin-left: -22px;
  margin-right: -22px;
}

.form-control {
  font-size: 14px !important;
}

.container {
  margin-bottom: 10px;
}

.seccion {
  width: 96%;
  /* border-radius: 15px;
  border: solid 1px #e6e6e6; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5px; */
  padding-bottom: 10px;
}

.separador{
  border-bottom: 1px solid #eeeeee;

}

.spanInput {
  width: 275px;
  height: 20px;
  flex-grow: 0;
  margin: 0 0 0 0;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.buttonL {
  width: 120px;
  height: 34px;
  border-radius: 3px;
  margin: 10px 15px 0 10px !important;
  padding: 5px;
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 200%;
}

.alertCompl {
  border-radius: 8px;
  width: 539px;
  position: absolute;
  margin-left: 336px;
  margin-right: auto;
  margin-top: 2px;
  z-index: 4;
  box-shadow: 3px 3px 3px #80808061;
  padding: 4px 24px !important;
  font-size: 15px;

}

.nuevaNotaTrabajoSocial {
  font-family: 'Montserrat';
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  left: 3.45%;
  right: 71.79%;
  color: #222;
}
