.section{
  background-color: #FFFFFF;
  float: initial;
}
.pleca-head{
  background-color: transparent;
  height: 80px;
  margin-top: 0;
}
.bg {
  /* width: 1440px; */
  height: 80px;
  flex-grow: 0;
  /*margin: 40px 0 0;*/
  padding: 14.2px 193px 51.7px 134px;
  background-color: #10312b;
}
.rectangle-1164 {
  width: 478px;
  height: 742px;
  flex-grow: 0;
  margin: 0 231.2px 0 0;
}
.img-bg {
  background-image: url(../../../assets/images/Background-login.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  /*margin: 119px 350px 72px 0;*/
  object-fit: contain;
  background-size: cover;
}
.cuadro-blanco {
  float: right;
  width: 573px;
  height: 550px;
  /*margin: 117px 0 72px 140.8px;*/
  background-color: #fff;
  width: 40.972%;
}
.t-social{
  width: 113px;
  height: 14.2px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.group-815 {
  width: 575.2px;
  height: 129px;
  flex-grow: 0;
  /*margin: 298px 0 315px 134px;*/
  padding: 0 0 11.7px;
}
.frame-3888 {
  width: 575.2px;
  height: 117.3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 166px 40px 0px 0px;
}
.mdulo-de {
  width: 575.2px;
  height: 46px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: center;
  color: #bc955c;
  margin-right: -28%;
  margin-top: 19%;
}
.trabajo-social {
  width: 476.5px;
  height: 71.3px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  margin-right: -28%;
}

/*Seccion de formulario*/
.title {
  height: 29px;
  flex-grow: 0;
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #10312b;
}
.description {

  height: 44px;
  flex-grow: 0;
  margin: 17px 0 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #222;
}
.usuario-login {
  width: 83px;
  height: 22px;
  flex-grow: 0;
  /* margin: 0 421px 5px 0; */
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
  display: inline-flex;
}
input {
  /* width: 504px; */
  height: 40px;
  flex-grow: 0;
  margin: 5px 0 0;
  padding: 9px 42px 9px 11px;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;
}
.description-password {
  width: 256px;
  height: 17px;
  flex-grow: 0;
  /*margin: 2px 112px 42px 33px;*/
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #12c;
  cursor: pointer;
}
.label {
  width: 150px;
  height: 17px;
  flex-grow: 0;
  /*margin: 10px 218px 5.5px 33px;*/
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.campo-obligatorio {
  font-size: 10px;
  color: #e10000;
}
.btn-cancelar-login {
  width: 120px;
  height: 34.8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0px 20px 0px 0px;
  padding: 9px 15px;
  border-radius: 3px;
  border: solid 1px #b38e5d;
  background-color: #fff;
}
.cancelar-login {
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b38e5d;
}
.btn-acceder-login {
  width: 120px;
  height: 34px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  /*margin: 0px 369px 0px 30px;*/
  padding: 9px 15px;
  border-radius: 3px;
  border: solid 1px #9d2449;
  background-color: #fff;
}
.acceder-login {
  align-self: stretch;
  flex-grow: 1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;

}
.error {
  border: 1px solid #9d2449;
}

.logn{
  /* width: 1440px; */
  padding-left: 0;
  padding-right: 0;
}

.bloque-central{
  margin-left: -15px;
  margin-right: -15px;
}

.cuadro-imagen{
  z-index: -2;
  display: inline;
  width: 850px;
  float: left;
  width: 59.028%;
}

/* .form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
} */

.btuser{
  width: 120px;
  height: 34px;
  border-width: 1px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 1rem;
  margin-left: 2rem;
}

.inp-lbl{
  width: 100%;
  height: 36px;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  margin: 0 auto;
}

input.captura,
select.captura{
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #ddd;
  background-color: #fff;
  flex-grow: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

img.Group-2082 {
  width: 46px;
  height: 40.6px;
  flex-grow: 0;
  object-fit: contain;
}

.Atencin {
  width: 100%;
  height: 21px;
  flex-grow: 0;
  margin: 12.7px 15px 17px 15px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.description-password > a {
  text-decoration: none;
}

.Campo-obligatorio {
  width: 101px;
  height: 14px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e10000;
}

re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

/* @media (min-width: 1200px){
  .logn {
    width: 1263px;
  }
}


@media (min-width: 1400px){
  .logn {
    width: 1440px;
  }
} */

.img-trabajosocial{
  width: 1300px;
  margin-left: -450px;
  height: 800px;
}

