body {
    padding-top: 0px;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: transparent;
    background-image: url("./assets/images/Icon.png") !important;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 5px;
    padding-right: 20px;
    background-size: 20px 19px;

}

.select-view-data {
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    text-align: center;
    width: 70px;
}

.botones {
    float: right;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mat-dialog-container {
    border-radius: 20px 20px 6px 6px !important;
    padding: 0px !important;
}

.cdk-global-overlay-wrapper {
    overflow: auto;
    pointer-events: auto;
}

.dialog-styles {
    margin-bottom: 30px;
}
